{% extends 'kiosk/base.html' %}
{% load static %}

{% block content %}
	
	<div class="page-header noMarginTop">
		<h4>Einzahlung auf mein Kiosk-Konto</h4>
	</div>

	<div class="row">
		<div class="col margingPadding">
			<div class="panel panel-default">
				<div class="panel-body bigger">
				<p>
					Es gibt zwei Möglichkeiten, Geld auf dein Kiosk-Konto einzuzahlen:
					Du kannst <b>vor Ort Bargeld bei eine:r Verwalter:in einzahlen,</b> welches dann auf dein Konto eingebucht wird.
				</p>
				<p class="mt-5">
					Eine andere Möglichkeit ist die Einzahlung per PayPal an
					<a class="bigLink" href="https://paypal.me/ffekiosk">paypal.me/ffekiosk</a> mit dem Vermerk <b>"Einzahlung"</b>.
					<br>
					Beachte, dass du zuvor deinen PayPal-Namen beim Kiosk registrieren musst:
					<br>
					<b><a href="{% url 'personal_info_change' %}">Persönliche Einstellungen ändern</a></b>
				</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<h4>Bar-Einzahlung</h4>
			<p>
				Wende dich einfach vor Ort an eine:n Verwalter:in. Dein Bargeld wird von der Person auf dein Konto eingebucht.
				<br>
				Verwalter:in sind momentan {{accountants}} sowie die Admins {{admins}}.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<h4>Einzahlung mit PayPal</h4>
			<p>
				Du kannst dein Kiosk-Konto auch digital mit PayPal aufladen.
				Für die Einzahlung musst du folgende drei Schritte beachten.
			</p>
			<p>
				1. Hinterlege unter <b><a href="{% url 'personal_info_change' %}">Persönliche Einstellungen ändern</a></b>
				den Namen, den du auf PayPal verwendest. Eine Anleitung dazu findest du dort.
			</p>
			<p>
				2. Sende Geld via PayPal an
				<a class="bigLink" href="https://paypal.me/ffekiosk">paypal.me/ffekiosk</a>.
				<br>
				Schreibe als Kommentar <b>"Einzahlung"</b>!
				<br>
				Nutze bitte die Option "Für Freunde und Familie".
			</p>
			<p>
				3. Die Überweisung muss vom Kiosk registriert und verbucht werden.
				Dieser Vorgang wird regelmäßig vom System durchgeführt.
				<br>
				Falls es dir zu lange dauert, kannst du diesen Vorgang hier auch manuell anstoßen. Beachte, dass zwischen
				einer PayPal-Zahlung und einer möglichen Einbuchung im Kiosk bis zu einer Minute gewartet werden muss.
				<br>
				<a class="bigLink" id="sync_button">Verbuchung der PayPal-Überweisung</a>
				<br>
				<div class="alert alert-info" role="alert" id="mail_sync_notice" style="display: none;"></div>
			</p>
		</div>
	</div>

	<hr>
	<a class="bigLink" onclick="javascript:history.go(-1);">zur&#252;ck</a>

{% endblock %}


{% block javascript %}

	<!-- Initialisation for the ajax post requests -->
	<script type="text/javascript" src="{% static 'js/ajax_csrf_prepare.js' %}"></script>

	<!-- Function to run the mail sync. Response is translated into user-friendly words. -->
	<script type="text/javascript">

		function sync_mails() {
			$.ajax({
				type: 'GET',
				url: "{% url 'paypal_sync' %}",
				error: function(jqXHR, textStatus, errorThrown){
							var msg = 'Es gab einen Fehler mit Fehlercode '+jqXHR.status+': "'+errorThrown+'".'
							$("div[id='mail_sync_notice']").html(msg);
				},
				success: function(data){
							$("div[id='mail_sync_notice']").show();
							if (data.is_success === true) {
								$("div[id='mail_sync_notice']").html(
												'"' + data.response_msg + '"<br>' +
												'Die Verbuchung war wahrscheinlich erfolgreich. Prüfe bitte deine Slack-Nachrichten und deinen Kontostand.'
								);
							} else {
								$("div[id='mail_sync_notice']").html(
												'Die Verbuchung war wahrscheinlich nicht erfolgreich. Ein Admin wurde bereits informiert und kümmert sich um die Behebung des Problems.'
								);
							}

						}
			});
		}
		$(document).ready(
			function(){
				$("a[id='sync_button']").click(sync_mails);
			}
		);

	</script>

{% endblock %}