[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-jchart = "*"
django-widget-tweaks = "*"
python-dateutil = "*"
requests = "*"
six = "*"
imapclient = "*"
pytz = "*"
python-decouple = "*"
django-db-logger = "*"
slack_sdk = "*"
cryptography = "*"
rules = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
psycopg = {extras = ["binary"], version = "*"}
cachetools = "*"

[dev-packages]
