[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-jchart = "*"
django-widget-tweaks = "*"
psycopg2-binary = "*"
python-dateutil = "*"
requests = "*"
six = "*"
imapclient = "*"
pytz = "*"
python-decouple = "*"
django-db-logger = "*"
slack_sdk = "*"
rules = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"

[dev-packages]
