{% extends 'kiosk/base.html' %}	
{% load staticfiles %}

{% block content %}

	<div class="page-header noMarginTop">
		<h4>Informationen zum Kiosk</h4>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading bold">
			Hinweis
		</div>
		<div class="panel-body justified smallText">
			Die detaillierten Regelungen findest du im <a class="bigLink" href="{% url 'regelwerk_page' %}">Regelwerk.</a>
		</div>
	</div>

	<div class="row smallPadding">
		<div class="col-xs-12 col-sm-4 col-lg-5 justified smallPadding">
			<img src="{% static 'img/only-icon.gif' %}" style="opacity: 0.7; max-width: 100%; max-height: 100%; max-height: 200px;" />
		</div>
		<div class="col-xs-12 col-sm-8 col-lg-7 justified smallPadding">
			Gemeinschaftlich betreiben wir unseren Kiosk, indem wir uns die anfallenden Tätigkeiten in <span class="bigLink">kleine Arbeitspakete aufteilen.</span>
			<br> 
			Der Kiosk wirtschaftet gemeinwohlorientiert: Produkte werden möglichst zu <span class="bigLink">üblichen Supermarktpreisen verkauft.</span> Die Besorgung von Waren wird bei Sparangeboten durchgeführt.
			Von den Gewinnen werden durchgeführte <span class="bigLink">Tätigkeiten für den Kiosk entlohnt,</span> verbleibende Überschüsse werden jährlich gespendet.
		</div>
	</div>

	<hr>
	<div class="row smallPadding">
		<div class="col-xs-12 col-sm-7 col-lg-6 justified smallPadding">
			<span class="bigLink styleColor">Spende für einen guten Zweck durch Nutzung des Kiosks</span>
			<br>
			Durch deinen Einkauf im Kiosk <span class="bigLink">unterstützt du die <a href="#">Tätigkeiten von Pater Gerhard in Mandeni:</a></span>
			Erwirtschaftete Profite und Spenden werden jährlich für seine Entwicklungsarbeit gespendet.
			<br>
			Zum Kaufen, <a href="#">verbuche online deinen Einkauf</a> und nimm dir die Ware selbst aus dem Kiosk. Deinen Kauf kannst du auch bequem <span class="bigLink"><a href="#">per Slack verbuchen.</a></span>
		</div>
		<div class="col-xs-12 col-sm-5 col-lg-6 justified smallPadding">
			<img src="{% static 'img/principle-buy.png' %}" style="opacity: 0.7; max-width: 100%; max-height: 100%; max-height: 300px;" />
		</div>
	</div>

	<hr>
	<div class="row smallPadding">
		<div class="col-xs-12 col-sm-5 col-lg-6 justified smallPadding">
			<img src="{% static 'img/principle-bersorgung.png' %}" style="opacity: 0.7; max-width: 100%; max-height: 100%; max-height: 300px;" />
		</div>
		<div class="col-xs-12 col-sm-7 col-lg-6 justified smallPadding">
			<span class="bigLink styleColor">Unterstütze den Kiosk durch deine Mithilfe</span>
			<br>
			Schnappe dir eine vom Kiosk generierte <span class="bigLink"><a href="#">Einkaufsliste</a></span> und gehe damit einkaufen.
			Kaufe nach Möglichkeit zu <span class="bigLink">Angebots-/ und Sparpreisen</span> ein und lagere deine Einkäufe im Kiosk ein. Mit der <span class="bigLink">Vorlage des Kassenzettels bei einem Verwalter</span> wird dir der Betrag rückerstattet.
			Außerdem bekommst du eine <span class="bigLink"><a href="#">Entlohnung,</a></span> anteilig am reduzierten Warenwert.
		</div>
	</div>

	<hr>
	<div class="row smallPadding">
		<div class="col-xs-12 col-sm-7 col-lg-6 justified smallPadding">
			<span class="bigLink styleColor">Verwalte deinen Kiosk-Account</span>
			<br>
			Geld zur <span class="bigLink">Aufstockung deines Kiosk-Guthabens</span> kannst du bei einem Verwalter einbezahlen. Dieser verbucht es auf dein Konto. Deinen Kontostand kannst du in deinem <a class="bold" href="#">persönlichen Bereich</a> einsehen.
			<br>
			Halte deinen Account aktuell: Bei der Registrierung hast du dein <a class="bold" href="#">Austrittsdatum</a> hinterlegt. Nach diesem Datum dein Account inaktiv. Rechtzeitig vor Ende wird dir per Slack mitgeteilt, dein restliches Guthaben auszahlen zu lassen.
			Wenn sich dein <span class="bigLink">Beschäftigungsverhältnis verlängert,</span> denke daran, dieses Datum in den Einstellungen deines <a class="bold" href="#"> persönlichen Bereichs</a> anzupassen.
		</div>
		<div class="col-xs-12 col-sm-5 col-lg-6 justified">
			<img src="{% static 'img/principle-einzahlung.png' %}" style="opacity: 0.7; max-width: 100%; max-height: 100%; max-height: 300px;" />
		</div>
	</div>

	<br>
	<a class="btn btn-primary" href="{% url 'neuerNutzer_page' %}">Konto erstellen</a>
	<br><br>
	<a class="bigLink" href="{% url 'ersteschritte_page' %}">Erste Schritte</a>

	<br><br>
	<a class="" onclick="javascript:history.go(-1);">zur&#252;ck</a>

{% endblock %}
