{% extends 'kiosk/base.html' %}	

{% block content %}

	<h3>Anleitung & Kleingedrucktes</h3>
	<br>
	<div class="eingerueckt">
		

		<h4>Inhalt</h4>
		<div class="eingerueckt" style="font-size: 110%;">
			<a href="#">Um was geht es hier?</a>
			<br>
			<a href="#">Wie funktioniert es?</a>
			<br>
			<a href="#">Einrichten eines Kontos</a>
			<br>
			<a href="#">Kauf von Produkten</a>
			<br>
			<a href="#">Überweisung von Geld an andere Mitglieder</a>
			<br>
			<a href="#">Besorgungen für das Kiosk durchführen</a>
			<br>			
		</div>
		<hr>		
		<br>

		<h4>Um was geht es hier?</h4>
		<p style="text-align: justify;">
			Diese Plattform unterstützt die FfE'ler beim Betreiben und Verwalten des gemeinschaftlichen Kiosks im Lagerraum neben der Küche. Vertrieben werden Süßigkeiten und Fertiggerichte.
			Jeder Mitarbeitende und Studierende ist herzlich eingeladen, dieser Gemeinschaft beizutreten, sofern er/sie die Regelungen auf dieser Seite mit seiner/ihrer <a href='#'>Registrierung</a> akzeptiert.
			<br> 
			Im Kiosk werden gemeinschaftlich Lebensmittel zugekauft. Diese stehen dann allen hier registrierten FfE'lern zum Kauf per Selbstbedienung zur Verfügung.
			Über diese Webseite wird dabei das Organisatorische und Finanzielle abgewickelt. 
			Mittels der Verwaltung des Kiosks über diese Webseite wird ermöglicht, anfallende Tätigkeiten zum Betrieb des Kiosks in kleine Arbeitspakete aufzuteilen, die von jedem registrierten Nutzer erledigt werden können. Die Arbeitslast wird damit auf vielen Schultern getragen. Auch verteilt sich das finanzielle Risiko des Kioskbetriebs auf alle registrierten Nutzer gleichmäßig.
		</p>
		<br>

		<h4>Wie funktioniert es?</h4>
		<p style="text-align: justify;">
			Jeder registrierte Nutzer besitzt einen <a href='#'>Account</a> auf dieser Webseite mit einem Konto, von welchem das Gekaufte bezahlt wird. Zugriff auf das persönliche Konto besitzt jeder Nutzer über den eigenen <a href='#'>Login</a>.
			Dort <a href='#'>verbucht</a> jeder Nutzer selbständig und zuverlässig die aus dem Kiosk entnommene Ware.
			Das Guthaben auf dem Konto lässt sich bei einem <a href='#'>Verwalter</a> per Barzahlung aufladen. (Auch kann dort das Guthaben auf dem Konto ausbezahlt werden.)
			Jeder Nutzer ist zudem herzlich eingeladen, gegen Entlohnung Tätigkeiten als Einkäufer, Verwalter oder Administrator im Kiosk zu übernehmen. Informationen dazu werden im Folgenden gegeben.
		</p>
		<br>

		<h4>Einrichten eines Kontos</h4>
		<p style="text-align: justify;">
			Unter dem Link <a href="#">Konto erstellen</a> kann ein neuer Benutzeraccount angelegt werden. Als Nutzername sollte der Name auf Slack verwendet werden um die Interaktion mit Slack zu ermöglichen (Diese kann nach Erstellen des Kontos unter <a href="#">diesem Link</a> überprüft werden).
			Als E-Mail-Adresse ist die @ffe.de-Adresse zu verwenden, lediglich diese lässt eine Registrierung im Kiosk zu.
			Unter "angestellt bis" ist das Datums des Austritts aus der FfE anzugeben. Zu diesem Datum wird das Konto deaktiviert und eine Woche zuvor wird eine Erinnerungsnachricht gesendet, das eigene Guthaben vom Konto auszahlen zu lassen.
			<br>
			Nun kann nach dem persönlichen Login im <a href="#">persönlichen Bereich</a> alles Wichtige eingesehen werden. Zum einen wird der Kontostand angezeigt und zum anderen können unter <a href="#">Meine Kontobewegungen</a> alle Geldtransaktionen eingesehen werden. Das Guthaben kann bei einem <a href="#">Verwalter</a> durch Barzahlung aufgestockt werden. Nur mit Guthaben kann im Kiosk eingekauft werden.
		</p>
		<br>

		<h4>Kauf von Produkten</h4>
		<p style="text-align: justify;">
			Jeder registrierte Nutzer mit Guthaben auf dem Konto (<a href='#'>Konto einrichten und Guthaben aufladen</a>) kann Einkäufe im Kiosk tätigen. Die Ware kann per Selbstbedienung aus den Regalen im Raum hinter der Küche entnommen werden und muss dann SOFORT <a href="#">hier auf der Webseite verbucht werden. Sollte ein Produkt nicht mehr abbuchbar sein, obwohl dieses noch im Kiosk vorrätig war, bitte sofort den <a href="#">Administrator</a> kontaktieren, er kümmert sich um den Abgleich des tatsächlichen Warenvorrats mit den Angaben des Systems.
			<br>
			Mit einer funktionierenden Verbindung des persönlichen Kontos zu Slack (Verbindungstest unter <a href="#">diesem Link</a>) kann der Kauf von Produkten über eine Befehlseingabe (egal in welchem Channel oder Chat) durchgeführt werden:
			<p style="text-align: center;" class="commandTexts">
				/kiosk Kauf "Produkt" "evtl. Anzahl"
			</p>
			Der Kiosk-Bot wird mit diesem Befehl eine Interaktion zum Kauf starten und bei uneindeutiger Eingabe Auswahlmöglichkeiten bieten. Außerdem ist stets eine Hilfestellung bei Fehleingabe oder folgenden Befehlen verfügbar:
			<p style="text-align: center;" class="commandTexts">
				/kiosk Hilfe<br>
				/kiosk Kauf Hilfe
			</p>
			Beispiele für Kommandoeingaben:
			<p style="text-align: center;" class="commandTexts">
				/kiosk Kauf Pizza
				/kiosk Kauf 2 Pesto
				/kiosk "saure Zunge" 3
				/kiosk 3 saure
			</p>
		</p>
		<br>

		<h4>Überweisung von Geld an andere Mitglieder</h4>
		<p style="text-align: justify;">
			Diese Funktionalität ist momentan noch nicht verfügbar. Es wird momentan aber daran gearbeitet.
		</p>
		<br>

		<h4>Besorgungen für das Kiosk durchführen</h4>
		<p style="text-align: justify;">
			Jeder Nutzer ist herzlich eingeladen, "Einkäufer" zu werden und gegen Provision Besorgungen für das Kiosk durchzuführen. Dazu ist eine kurze Benachrichtigung des <a href="#">Administrators</a> nötig, welcher dann den Zugang zu Einkäufer-Funktionen freischaltet. Nach der Freischaltung ist die Mitarbeit bei den Besorgungen für das Kiosk möglich.<br>
			Das Kiosk-System überprüft automatisch, welche Produkte demnächst zu Neige gehen und generiert Einkaufspakete, welche, wenn eingeloggt, rechts unten auf der <a href="#">Kiosk-Webseite</a> angezeigt werden. Außerdem werden vom Kiosk-Bot Benachrichtigungen in den #kiosk-Channel auf Slack gepostet. Möchte man eines oder mehrer dieser Einkaufspakete besorgen, muss dies unter <a href="#">Besorgungen ankündigen</a> angekündigt werden. Das Einkaufspaket erscheint dann in der <a href="#">persönlichen Einkaufsliste</a> im <a href="#">persönlichen Bereich</a> und verbleibt längstens drei Tage dort. So lange bleibt Zeit, um die Besorgungen durchzuführen. Danach wird das Einkaufspaket wieder für alle Einkäufer zum Einkauf freigegeben. In der a href="#">persönlichen Einkaufsliste</a> können die zu kaufenden Produkte verwaltet werden und wahlweise Produkte herausgelöscht werden.<br>
			Beim Einkauf ist darauf zu achten, nicht mehr Produkte zu kaufen, als in der Einkaufsliste stehen. Außerdem muss darauf geachtet werden, <b>nicht teurer als in der Einkaufsliste genannten Budget einzukaufen</b>. Nur bis zu diesem Maximalbetrag werden die Kosten des Einkaufs erstattet. <b>Der Kaufbeleg wird für die spätere Verrechnung benötigt</b>, also beim Einkauf daran denken! Die eingekaufte Ware ist im Kiosk einzuordnen und der Kaufbeleg bei einem <a href="#">Verwalter</a> abzugeben. Dieser verbucht die Ware als besorgt und erstattet die Einkaufskosten plus die Provision für den Einkauf.<br>
			Die Höhe der Provision ist die Hälfte des Betrags, welcher nach dem Einkauf vom verfügbaren Budgets der Einkaufsliste bleibt.
		</p>
		<br>

		<h4>Tätigkeiten des Verwalters im Kiosk</h4>

		<br>

		<h4>Tätigkeiten des Administrators im Kiosk</h4>

		<br>

		<h4>Regelungen zu Finanzen im Kiosk</h4>

		<br>

		<h4>Regelungen zu Entscheidungen und Änderungsanträgen</h4>

		<br>

		<h4>Haftungsausschluss</h4>



		Zum einen müssen hauptsächlich Einkaufe erledigt werden. Hierbei generiert die Kiosk-Website bei Bedarf Einkaufslisten, "Einkäufer" erklären sich dann dazu bereit, diese Einkäufe zu erledigen und lagern diese im Kiosk ein. Dafür gibt es die Kosten für den Einkauf erstattet und eine kleine Provision. 
		Zum anderen werden zwei bis drei Verwalter benötigt, die sich um die Abwicklung des Finanziellen kümmern: Einzahlungen/Auszahlungen der Nutzer und Verrechnung von Einkäufen im Kiosk (Diese Aufgaben sind wirklich einfach!).

		Was ist denn nun konkret zu tun?
		1. In jedem Fall müsst ihr euch auf der Webseite anmelden. Gebt dabei als Nutzernamen euren Slacknamen an.

		Ich möchte im Kiosk einkaufen!
		2. Schaue, dass dein Kontostand in deinem Kiosk-Account positiv ist, falls nicht, gehe zu einem Verwalter und zahle auf dein Konto ein. Den Kontostand kannst du in deinem persönlichen Bereich erfragen.
		3. Nun kannst du unter dem Link "Ware einkaufen" einen Einkauf tätigen. Wähle deine gewünschte Ware und nehme diese dann aus dem Kiosk heraus. Bitte denke aber immer daran, sofort die Ware auch auf der Webseite "zu kaufen".

		Ich möchte als Einkäufer zum Kiosk beitragen:
		4. Schön! Melde dich bei mir (Admin) und ich schalte dich dafür frei. Du siehst dann, was eingekauft werden muss und kannst dann Vormerkungen machen, welche Einkäufe du erledigen wirst. Wirklich einfach!

		Ich möchte eine Aufgabe als Verwalter des Kiosks übernehmen:
		5. Melde dich auch einfach bei mir (Admin) und ich schalte dich dafür frei. Deine Aufgaben sind wirklich nicht schwierig und zeitintensiv. Du wirst Einzahlungen und Auszahlungen von allen Nutzern sowie die Verrechnung der Einkäufe verwalten. Auf der Website ist dafür schon der Arbeitsfluss eingearbeitet. Die Tätigkeiten sind mit wenigen Klicks erledigt.
		6. Zusätzlich soll der Bestand alle zwei Wochen überprüft werden. Einfach eine kleine Bestandsaufnahme, was im Kiosk ist und was dort sein sollte.

		Außerdem suche ich noch eine zweite Person für Administrator-Tätigkeiten, hier geht es darum, dass das Kiosk auch weiter läuft, wenn ich mal nicht da bin. Vorkenntnisse sind keine nötig, dafür gibt es aber einen tollen Einblick in die Webseiten-Programmierung mit Python, Django, HTML, CSS, JavaScript, SQL ...
		Auch hier ist die Arbeitsbelastung nicht sehr hoch.

		In diesem Sinne, meldet euch im Kiosk an und ich freue mich auf möglichst viele Einkäufer und Verwalter, die zum guten Gelingen beitragen! Vergesst außerdem nicht, die Wunschliste für den Kioskbestand weiter zu ergänzen. Es sind eure Vorschläge, die das Kiosk befüllen werden!


Einkaufen im FfE-Kiosk
1.	Erstelle einen Account auf der Webseite des FfE-Kiosks.
2.	Fülle deinen Kontostand bei einem „Kioskverwalter“ ( ) auf.
3.	In deinem persönlichen Bereich kannst du in der Rubrik „Aktionen“ deinen Einkauf verbuchen. Nimm dir deinen Einkauf dann aus dem Kiosk. Die Preise sind den Informationen auf der Webseite zu entnehmen.
4.	Eine direkte Barzahlung ist nicht möglich.
5.	Sollte irgendetwas nicht stimmen, nimm bitte sofort Kontakt mit einem Admin (Andreas Bruckmeier, Mathias Müller, Alex Murmann) auf.
 


Besorgungen für den Kiosk erledigen
1.	Auf der Webseite findest du die Liste zu erledigender Einkäufe.
2.	Wenn du als „Einkäufer“ beim Administrator freigeschaltet wurdest, kannst du in deinem persönlichen Bereich unter Aktionen „Besorgungen ankündigen“. Dort kannst du aus einer Liste zu erledigender Einkäufe eine oder mehrere Produkte auswählen und zu deiner persönlichen Einkaufsliste hinzufügen.
3.	Deine persönliche Einkaufsliste findest du in deinem persönlichen Bereich. Details zu den Produkten und Informationen zur Beschaffung finden sich in den Details unter dem Link darunter.
4.	Erledige die Einkäufe bitte zeitnah und achte vor allem darauf, dass du unterhalb des maximalen Preises für die einzelnen Produkte bleibst.
5.	Ordne deine Einkäufe sorgsam im Kiosk ein.
6.	Gib den Kaufbeleg bei einem Verwalter ( ) ab, nur so werden dir die Kosten für den Einkauf erstattet.


Ich möchte aktiv im FfE-Kiosk mitwirken!
Sehr gerne! Melde dich dazu bei einem Administrator.


	</div>

	<hr>
	<a href="{% url 'start_page' %}">zur&#252;ck</a><br>


{% endblock %}
