{% load staticfiles %}
<html>
	<head>
		<title>FfE-Kiosk</title>

		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />


  		<!-- JQuery -->
		<script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
		<!--<script type="text/javascript" src="{% static 'js/jquery-ui-1.12.1.min.js' %}"></script>
		<link rel="stylesheet" href="{% static 'css/jquery-ui-1.12-base.min.css' %}">-->

		<!-- Bootstrap -->
		<link rel="stylesheet" type="text/css" href="{% static 'bootstrap3.3.7/css/bootstrap.min.css' %}">
		<script type="text/javascript" src="{% static 'bootstrap3.3.7/js/bootstrap.min.js' %}"></script>

		<!-- Chart JS -->
		<script type="text/javascript" 
			src="{% static 'js/Chart.bundle.min.js' %}">
		</script>

		<!-- Momentjs -->
		<!--<script type="text/javascript" src="{% static 'js/moment.2.18.1.min.js' %}"></script>-->

		<!-- Date Range Picker -->
		<!--<script type="text/javascript" src="{% static 'js/bootstrap.dateranepicker.2.js' %}"></script>
		<link rel="stylesheet" type="text/css" 
			href="{% static 'css/bootstrap.daterangepicker.2.css' %}">-->

		<!-- own Stylesheet and Script-->
		<link rel="stylesheet" href="{% static 'css/kiosk.css' %}">
		<!--<script type="text/javascript" src="{% static 'js/ajax_csrf_prepare.js' %}"></script>-->

		{% block css %}{% endblock %}

  		{% block javascript %}{% endblock %}

  		<script type="text/javascript">
  			var isClicked = false;
  			var isClickedt = false;

  			$(document).ready(function(){
  				$("div.dropdown-content").hide(500);
  				$("button.dropbtn").click(function(){
  					if (!isClicked) {
  						$("div.dropdown-content").show(500);
  						isClicked = true;
  						setTimeout(
							function(){
		  						$("div.dropdown-contentt").hide(200);
		  						isClickedt = false;
		  					},300);
  					} else {
  						$("div.dropdown-content").hide(500);
  						isClicked = false;
  					}
  				});
  				$("div.dropdown-content").click(function(e){
  					e.preventDefault();
  					$("div.dropdown-content").hide(500);
  					isClicked = false;
  				});

  			});
  		</script>

	</head>
	<body>

		<div class="container-fluid divTopHeading">
			<a class="aTopHeading" href="{% url 'start_page' %}">
				<h2 class="bold">FfE-Kiosk</h2>
			</a>
		</div>





		<div class="container-fluid divTopMenu">
		
			<div class="dropdown">

				<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownHead" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span class="glyphicon glyphicon-list"></span>
				</button>
				<ul class="dropdown-menu dropdown-menu-right ulTopMenuWidth" aria-labelledby="dropdownHead">
					<li class="dropdown-header">Navigation</li>
					<li><a href="{% url 'start_page' %}">Startseite</a></li>
					{% if user.is_authenticated and perms.profil.perm_kauf %}
						<li><a href="{% url 'imkiosk_page' %}">Im Kiosk</a></li>
						<li>Offene Einkaufsliste</li>
					{% endif %}
					<li role="separator" class="divider"></li>


					{% if user.is_authenticated %}
						<li class="dropdown-header">Quick Links</li>
						{% if perms.profil.perm_kauf %}
							<li>Einkaufen</li>
						{% endif %}
						{% if perms.profil.do_einkauf %}
							<li>Besorungen ankündigen</li>
						{% endif %}
						<li role="separator" class="divider"></li>
					{% endif %}


					<li class="dropdown-header">
						Benutzeraccount
						{% if user.is_authenticated %}
							<br>
							Eingeloggt als <b>{{ user.username }}</b>
						{% endif %}
					</li>
					{% if not user.is_authenticated %}
						<li><a href="{% url 'login' %}">Login</a></li>
					{% else %}
						<li><a href="{% url 'registrationStatus' %}">Zu meinem pers&#246;nlichen Bereich</a></li>
						<li><a href="{% url 'logout' %}">Logout</a></li>
					{% endif %}			


					<li role="separator" class="divider"></li>
					<li class="dropdown-header">Info</li>
					<li><a href="{% url 'anleitung_page' %}">Anleitung & Kleingedrucktes</a></li>
					<li>Kontakt & Impressum</li>
				</div>

			</div>

		</div>


		
		<div class="container-fluid divMain">
			{% block content %}
			{% endblock %}

			<br>
			<hr>

			<div class="smallText">
				<a href="{% url 'anleitung_page' %}">Impressum & Kontakt</a>
				<br />
				This project is open-source (License?). View the source code on GitHub: <a href="https://github.com/AndiBr/ffksk">https://github.com/AndiBr/ffksk</a>
			</div>

			<br>
		</div>




		<div class="container-fluid divRightSide">
			{% if perms.profil.perm_kauf %}
			<div>
				<h4> Im Kiosk: </h4>
				<div class="eingeruecktklein">
					<p class="itemsDef">
						Item | # | &#8364; 
					</p>
					
					{% for item in kioskItems %}
						<p class="items">
							{{item.produktName}}  | 
							{{item.anzahl}} | 
							{{item.verkaufspreis | floatformat:2}} 
						</p>
					{% endfor %}
				</div>
			</div>
			{% endif %}
			{% if perms.profil.do_einkauf %}
			<hr>

			<div>
				<h4>offene Einkaufslisten: </h4>
				<div class="eingeruecktklein">
					<p class="itemsDef">
						Item | # 
					</p>

					{% for item in einkaufsliste %}
						<b>Liste {{item.gruppenID}}:</b><br>
						<div class="eingeruecktklein">
							{{item.paket |safe}}
						</div>
						<br>
					{% endfor %}
				</div>
			</div>
			{% endif %}
		</div>

	</body>
</html>