{% load staticfiles %}
<html>
	<head>
		<title>Kiosk</title>

		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />


  		<!-- JQuery -->
		<script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>

		<!-- Bootstrap -->
		<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
		<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

		<!-- Bootstrap DatePicker -->
		<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-datepicker-1.6.4/css/bootstrap-datepicker3.min.css' %}">
		<script type="text/javascript" src="{% static 'bootstrap-datepicker-1.6.4/js/bootstrap-datepicker.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'bootstrap-datepicker-1.6.4/locales/bootstrap-datepicker.de.min.js' %}"></script>

		<!-- Chart JS -->
		<script type="text/javascript" 
			src="{% static 'js/Chart.bundle.min.js' %}">
		</script>

		<!-- own Stylesheet and Script-->
		<link rel="stylesheet" href="{% static 'css/kiosk.css' %}">

		{% block css %}{% endblock %}

  		{% block javascript %}{% endblock %}



	</head>
	<body>

		<div class="container-fluid divTopIcon">
			{% if not excludeTopIcon %}
				<img src="{% static 'img/only-icon.gif' %}" height="90px" />
			{% else %}
				<img src="{% static 'img/only-icon.gif' %}" height="90px" />
			<!--<img src="{% static 'img/only-icon.gif' %}" height="90px" style="filter: blur(2px); opacity: 0.3;" />-->
			{% endif %}
		</div>



		<div class="container-fluid divTopHeading">
			<a class="aTopHeading" href="{% url 'start_page' %}">
				<h2 class="bold">FfE-Kiosk</h2>
			</a>
		</div>



		<div class="container-fluid divTopMenu">
		
			<div class="dropdown">

				<button class="btn btn-default dropdown-toggle" type="button" id="dropdownHead" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span class="glyphicon glyphicon-list"></span>
				</button>
				<ul class="dropdown-menu dropdown-menu-right ulTopMenuWidth" aria-labelledby="dropdownHead">
					<li class="dropdown-header">Navigation</li>
					<li><a href="{% url 'start_page' %}">Startseite</a></li>
					{% if user.is_authenticated and perms.profil.perm_kauf %}
						<li><a href="{% url 'imkiosk_page' %}">Im Kiosk</a></li>
						<li><a href="{% url 'offeneEkListe_page' %}">Offene Einkaufslisten</a></li>
					{% endif %}
					<li role="separator" class="divider"></li>


					{% if user.is_authenticated %}
						<li class="dropdown-header">Aktionen</li>
						{% if perms.profil.perm_kauf %}
							<li><a href="{% url 'kauf_page' %}">Einkaufen</a></li>
						{% endif %}
						{% if perms.profil.do_einkauf %}
							<li><a href="{% url 'einkauf_vormerk_page' %}">Besorgungen ank&#252;ndigen</a></li>
							<li><a href="{% url 'produkt_kommentare_page' %}">Produkte kommentieren</a></li>
						{% endif %}
						{% if perms.profil.do_verwaltung %}
							<li><a href="{% url 'einkauf_annahme_page' %}">Besorgungen annehmen</a></li>
							<li><a href="{% url 'einzahlung_page' %}">Einzahlung / Auszahlung vornehmen</a></li>
							<li><a href="{% url 'rueckbuchungen_page' %}">R&#252;ckbuchung eines Kaufs</a></li>
						{% endif %}
						<li role="separator" class="divider"></li>
					{% endif %}


					<li class="dropdown-header">
						Benutzeraccount
						{% if user.is_authenticated %}
							<br>
							(Eingeloggt als <b>{{ user.username }}</b>)
						{% endif %}
					</li>
					{% if not user.is_authenticated %}
						<li><a href="{% url 'login' %}">Login</a></li>
					{% else %}
						<li><a href="{% url 'registrationStatus' %}">Zu meinem pers&#246;nlichen Bereich</a></li>
						<li><a href="{% url 'logout' %}">Logout</a></li>
					{% endif %}			


					<li role="separator" class="divider"></li>
					<li class="dropdown-header">Information</li>
					<li><a href="{% url 'anleitung_page' %}">Info & Erste Schritte</a></li>
					<li><a href="{% url 'kontakt_page' %}">Kontakt</a></li>
					<li><a href="{% url 'impressum_page' %}">Impressum</a></li>
					<li><a href="{% url 'datenschutz_page' %}">Datenschutzerkl&#228;rung</a></li>
				</ul>

			</div>

		</div>


		
		<div class="container-fluid divMain">
			{% block content %}
			{% endblock %}

			<br>
			<hr>

			<div class="smallText">
				<div style="font-style: italic;">&#9400; FfE-Kiosk Mitwirkende</div>

				Dies ist ein Open-Source Projekt. Wirke mit unter <a href="https://github.com/AndiBr/ffksk">https://github.com/AndiBr/ffksk</a>!

				<div>
					Quelle des Icons:  
					<a href="https://www.freeiconspng.com/img/12850">Ahk&#226;m (freeiconspng.com)</a>.
				</div>
				<br /><br />

				<a href="{% url 'anleitung_page' %}">Info & Erste Schritte</a>
				<br />
				<a href="{% url 'kontakt_page' %}">Kontakt</a>
				<br />
				<a href="{% url 'impressum_page' %}">Impressum</a>
				<br />
				<a href="{% url 'datenschutz_page' %}">Datenschutzerkl&#228;rung</a>
				<br />
			</div>

			<br>
		</div>


		<div class="container-fluid divTopMenuBigScreen">
			<div class="sideMenu smallText">

				<br>

				<div class="list-group">
					<a class="list-group-item disabled">Navigation</a>
					<a class="list-group-item" href="{% url 'start_page' %}">Startseite</a>
					{% if user.is_authenticated and perms.profil.perm_kauf %}
						<a class="list-group-item" href="{% url 'imkiosk_page' %}">Im Kiosk</a>
						<a class="list-group-item" href="{% url 'offeneEkListe_page' %}">Offene Einkaufslisten</a>
					{% endif %}
				</div>

				{% if user.is_authenticated %}
					<div class="list-group">
						<a class="list-group-item disabled">Aktionen</a>
						{% if perms.profil.perm_kauf %}
							<a class="list-group-item" href="{% url 'kauf_page' %}">Einkaufen</a>
						{% endif %}
						{% if perms.profil.do_einkauf %}
							<a class="list-group-item" href="{% url 'einkauf_vormerk_page' %}">Besorgungen ank&#252;ndigen</a>
							<a class="list-group-item" href="{% url 'produkt_kommentare_page' %}">Produkte kommentieren</a>
						{% endif %}
						{% if perms.profil.do_verwaltung %}
							<a class="list-group-item" href="{% url 'einkauf_annahme_page' %}">Besorgungen annehmen</a>
							<a class="list-group-item" href="{% url 'einzahlung_page' %}">Einzahlung / Auszahlung vornehmen</a>
							<a class="list-group-item" href="{% url 'rueckbuchungen_page' %}">R&#252;ckbuchung eines Kaufs</a>
						{% endif %}
					</div>
				{% endif %}

				<div class="list-group">
					<a class="list-group-item disabled">
						Benutzeraccount
						{% if user.is_authenticated %}
							<br>
							(Eingeloggt als <b>{{ user.username }}</b>)
						{% endif %}
					</a>
					{% if not user.is_authenticated %}
						<a class="list-group-item" href="{% url 'login' %}">Login</a>
					{% else %}
						<a class="list-group-item" href="{% url 'registrationStatus' %}">Zu meinem pers&#246;nlichen Bereich</a>
						<a class="list-group-item" href="{% url 'logout' %}">Logout</a>
					{% endif %}
				</div>

				<div class="list-group">
					<a class="list-group-item disabled">Information</a>
					<a class="list-group-item" href="{% url 'anleitung_page' %}">Info & Erste Schritte</a>
					<a class="list-group-item" href="{% url 'kontakt_page' %}">Kontakt</a>
					<a class="list-group-item" href="{% url 'impressum_page' %}">Impressum</a>
					<a class="list-group-item" href="{% url 'datenschutz_page' %}">Datenschutzerkl&#228;rung</a>

				</div>

			</div>
		</div>


		{% if kioskItems and einkaufsliste %}
		{% if perms.profil.perm_kauf or perms.profil.do_einkauf %}
		<div class="container-fluid divRightSide">
			<div class="sideMenu smallText">

				{% if perms.profil.perm_kauf %}
					<div>
						<h4> Im Kiosk: </h4>

						<p class="smallText grey">
							Produkt | # | &#8364; 
						</p>
							
						{% for item in kioskItems %}
							<p>
								<div class="inline"><b>{{item.produktName}}</b></div>
								<div class="grey inline"> 
									| 
									{{item.anzahl}}x | 
									{{item.verkaufspreis | floatformat:2}} &#8364; 
								</div>
							</p>
						{% endfor %}
					</div>
				{% endif %}

				{% if perms.profil.do_einkauf %}
					<br>
					<hr>
					<br>

					<div>
						<h4>Offene Einkaufslisten: </h4>

						<p class="smallText grey">
							Produkt | # 
						</p>

						{% for item in einkaufsliste %}
							<p>
								<div class="inline"><b>Liste {{item.gruppenID}}:</b></div>
								<div class="grey inline">
									{{item.anzahlElemente}}x {{item.produktName}}
								</div>
							</p>
						{% endfor %}

					</div>
				{% endif %}

			</div>
		</div>
		{% endif %}
		{% endif %}

	</body>
</html>
