{% extends 'kiosk/base.html' %}	

{% block content %}
	
	<h3>Annahme von Besorgungen</h3>
	<br>

	<div class="eingerueckt">

		<div class="dropdown">
			<button class="dropbtn">Eink&#228;ufer w&#228;hlen</button>
			<div class="dropdown-content">
				{% for item in allUsers %}
					<a href="#" onclick="goOnWithUser({{item.id}})">
						{{item.username}} ({{item.first_name}} {{item.last_name}})
					</a>
				{% endfor %}
			</div>
		</div>

		<script>
			function goOnWithUser(userID) {
				$(document).ready(
					$.ajax({
						type: "GET",
						url: "{% url 'einkauf_annahme_page' %}",
						data: {'userID': userID, 'getUserData': true},
						success: function(data){
									$("div#divSeineEinkaeufe").html(data);
								}
					})
				);
				$("div#divWarenAuswahl").hide();
				$("input#anzahlAngeliefert").val('');
			    $("input#gesPreis").val('');
				$("div#divSeineEinkaeufe").show(200);

				setTimeout(
					function(){
						$("div.dropdown-contentt").hide(500);
		  				$("button.dropbtnt").click(function(){
		  					if (!isClickedt) {
		  						$("div.dropdown-contentt").show(500);
		  						isClickedt = true;
		  						$("div.dropdown-content").hide(500);
		  						isClicked = false;
		  					} else {
		  						$("div.dropdown-contentt").hide(500);
		  						isClickedt = false;
		  					}
		  				});
		  				$("div.dropdown-contentt").click(function(e){
		  					e.preventDefault();
		  					$("div.dropdown-contentt").hide(500);
		  					isClickedt = false;
		  				});
  					}
  				,300);
			}
		</script>	


		<div class="eingerueckt">

			<!--  Wird von 'einkauf_annahme_page_ekListe eingetragen'  -->
			<div id="divSeineEinkaeufe"></div>

			<script type="text/javascript">
				
				$(document).ready(function(){
					$("div#divSeineEinkaeufe").hide();
				});

				function goOnWithWare(produktName,anzahlelemente,einkaufspreis,userID){
					$("input#anzahlAngeliefert").val('');
				    $("input#gesPreis").val('');
				    $("div#divWarenAuswahl").show(200);
				    $("input#produktName").val(produktName);
				    $("input#anzahlElemente").val(anzahlelemente);
				    $("input#userID").val(userID);
					$("div#produktName").html(produktName);
				    $("div#anzahlElemente").html(anzahlelemente);
				    $("div#einkaufspreisMax").html(einkaufspreis);
				};
			</script>


			<br>

			<div id="divWarenAuswahl" style="padding-left: 8vw;">
				<br>
				<form method="POST" class="">{% csrf_token %}
					<input type="text" name="userID" id="userID" style="display: none" readonly>
					<input type="text" name="produktName" id="produktName" style="display: none" readonly>
					<input type="text" name="anzahlElemente" id="anzahlElemente" style="display: none" readonly>
					
					<div class="formDiv" id="produktName"></div> | 
					<div class="formDiv" id="anzahlElemente"></div> |
					<<div class="formDiv" id="einkaufspreisMax"></div> &#8364;
					
					<br><br>
					
					<table style="width: 60%;border-spacing: 5px;text-align: left;">
						<tr>
							<td><label>angelieferte St&#252;ckzahl</label></td>
							<td><input type="text" name="anzahlAngeliefert" id="anzahlAngeliefert" 
							class="form-control" style="width: 80px;display: inline;"></td>
						</tr>
						<tr>
							<td><label>Gesamtpreis 
								<div style="display:inline;font-weight: normal;font-size:75%">
									(xx.yy &#8364;)
								</div></label>
							</td>
							<td><input type="text" name="gesPreis" id="gesPreis" class="form-control" 
							style="width: 80px;display: inline;"></td>
						</tr>
					</table>

					<br>
					<button type="submit" class="btn">Waren annehmen</button>
				</form>	

			</div>
			<script type="text/javascript">
				$(document).ready(function(){
					$("div#divWarenAuswahl").hide();
				});
			</script>

		</div>

	</div>

	<hr>
	<a href="{% url 'home_page' %}">zur&#252;ck</a><br>


{% endblock %}
