{% extends 'kiosk/base.html' %}	

{% block content %}
	
	<div class="page-header noMarginTop">
		<h4>Besorgungen annehmen <small>Eink&#228;ufer(in) w&#228;hlen</small></h4>
	</div>


	<div class="panel panel-default">
		<div class="panel-heading bold">
			Info
		</div>
		<div class="panel-body justified smallText">
			W&#228;hle den/die Eink&#228;ufer(in). Auf der n&#228;chsten Seite kannst du dann die Eink&#228;ufe verbuchen.
		</div>
	</div>



	<table class="table table-striped smallText autoSize">
		<tr>
			<th style="text-align: right;"></th>
			<th>Eink&#228;ufer</th>
		</tr>

		{% for item in allUsers %}
			<tr>
				<td style="text-align: right;">
					<a href="{% url 'einkauf_annahme_user_page' userID=item.id %}">
						<span class="glyphicon glyphicon-user" aria-hidden="true"></span>						
					</a>
				</td>
				<td>
					<a href="{% url 'einkauf_annahme_user_page' userID=item.id %}">
						{{item.username}} ({{item.first_name}} {{item.last_name}})
					</a>
				</td>
			</tr>
		{% endfor %}
	</table>


	<hr>
	<a class="bigLink" href="{% url 'home_page' %}">zur&#252;ck zum pers&#246;nlichen Bereich</a><br>


{% endblock %}
