{% extends 'kiosk/base.html' %}	

{% block content %}
	

	<div class="page-header noMarginTop">
		<h4>Besorgungen ankündigen</h4>
	</div>


	{% if msg != '' and msg != None %}
		{% if color == 'danger' %}
			<p class="alert alert-danger">
				{{msg}}
			</p>
		{% elif color == 'success' %}
			<p class="alert alert-success">
				{{msg}}
			</p>
		{% else %}
			<p class="alert alert-info">
				{{msg}}
			</p>
		{% endif %}
	{% endif %}


	{% if isInstr == False %}
		<p class="alert alert-warning">
			Bevor du das erste Mal einen Einkauf unternimmst, lese dir kurz folgende Instruktionen durch und best&#228;tige, dass du diese zur Kenntnis genommen hast und diese befolgen wirst.
		</p>
		<div class="panel panel-default panel-body justified">
			<ul>
			<li>F&#252;hre nach Ank&#252;ndigung eines Einkaufes diesen auch z&#252;gig durch (max. sieben Tage).</li>
			<li>Kaufe genau die auf deiner Liste stehende Menge ein, mehr kann nicht angenommen werden. Ein Einkauf kann aber auf mehrere Teileink&#228;ufe verteilt werden.</li>
			<li>Beachte, dass du Ware nur unterhalb des Budgets des Einkaufspakets im Kiosk kaufst. Nur bis zu diesem Maximalbetrag werden die Kosten des Einkaufs erstattet.</li>
			<li>Bringe deine Ware in das Kiosk und ordne deinen Einkauf sorgsam ein. Kein anderer wird dies tun, das ist deine Aufgabe.</li>
			<li>Bei zu k&#252;hlender Ware, achte bitte darauf, dass du die K&#252;hlkette nicht unterbrichst.</li>
			<li>Nimm beim Einkauf stets die Rechnung mit und gebe diese dann einem Verwalter, sodass dir der Einkauf dann erstattet werden kann.</li>
			</ul>
		</div>

		<div class="panel panel-default panel-body justified">
			<form method="POST" class="">{% csrf_token %}
				
				<table>
					<tr>
						<td class="padding">
							<input type="checkbox" name="best" id="best">
						</td>
						<td>
							<label for="best">Diese Instruktionen habe ich zur Kenntnis genommen und werde diese befolgen.</label>
						</td>
					</tr>
				</table>
				<br>

				<button type="submit" class="btn btn-primary" style="font-weight: bold;font-size: 100%;">
					Weiter
				</button>
			</form>	
		</div>
	{% else %}

		<div class="panel panel-default">
			<div class="panel-heading bold">
				Info
			</div>
			<div class="panel-body justified smallText">
				Wenn du die Produkte auf einer der unten stehenden Listen besorgen möchtest, kündige das an, indem du rechts auf die Nadel klickst und damit die Liste in deine <a class="" href="{% url 'meine_einkaufe_page' %}">persönlichen Einkaufsliste</a> pinst. Dort kannst du dann deine zu erledigenden Einkäufe weiter verwalten.
				<br>
				Führe die Einkäufe dann bitte innerhalb von sieben Tagen durch.
			</div>	
		</div>

		<div>
			{% if not einkaufsliste %}
				<table class="table table-striped smallText">
					<tr><th>keine zu erledigenden Besorgungen</th></tr>
				</table>
			{% else %}
				<table class="table table-striped smallText">
					<tr>
						<th>Listen-Nr.</th>
						<th>Produkt</th>
						<th>Anzahl zu kaufen</th>
						<th>Maximaler Einkaufspreis</th>
						<th>Neuester Kommentar</th>
						<th>Besorge ich!</th>
					</tr>

					{% for item in einkaufsliste %}
						<tr>
							<td>{{item.gruppenID}}</td>
							<td>{{item.produktName}}</td>				
							<td>{{item.anzahlElemente}}</td>
							<td>{{item.verkaufspreis | floatformat:2}} &#8364;</td>
							<td>
								<div class="cutTextOff">
									<a href="{% url 'produkt_kommentieren_page' s=item.id %}">
										{{item.kommentar}}
									</a>
								</div>
							</td>
							<td>
								<form method="POST">{% csrf_token %}
									<input type="text" name="gruppenID" id="gruppenID" style="display: none" readonly value="{{item.gruppenID}}">
									<button type="submit" class="btn btn-secondary">
										<span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span>
									</button>
								</form>
							</td>
						</tr>
					{% endfor %}
				</table>
			{% endif %}
		</div>
	{% endif %}



{% endblock %}


{% block javascript %}



{% endblock %}