{% extends 'kiosk/base.html' %}	

{% load widget_tweaks %}	

{% block content %}
	
	<div class="page-header noMarginTop">
		<h4>Einzahlungen & Auszahlungen von Bargeld</h4>
	</div>


	<div class="panel panel-default">
		<div class="panel-heading bold">
			Info
		</div>
		<div class="panel-body justified smallText">
      Hier kann lediglich die Ein- und Auszahlung von Bargeld verbucht werden.
      Verbuchungen von PayPal-Transaktionen werden anderweitig verwaltet. Siehe
      <a href="{% url 'admin:paypal_mail_changelist' %}">Admin-Bereich</a>.
      <br><br>
			W&#228;hle eine(n) Eink&#228;ufer(in) aus und es erscheint eine Eingabemaske zur Verbuchung einer Ein- oder Auszahlung.<br>
			Klicke dazu den entsprechenden Modus in der Eingabemaske an. Ein Kommentar ist nicht n&#246;tig und kann leer gelassen werden. Mit einem Klick auf "Transaktion t&#228;tigen" wird die Eingabe verbucht.
			<br><br>
			<b>Tipp: </b>F&#252;r Auszahlungen ist manchmal ein Klick auf "Kontostand einblenden" hilfreich.
		</div>
	</div>


	{% if errorMsg != '' and errorMsg != None %}
		<p class="alert alert-danger">
			{{errorMsg}}
		</p>
	{% endif %}

	{% if successMsg != '' and successMsg != None %}
		<p class="alert alert-success">
			{{successMsg}}
		</p>
	{% endif %}


  <div class="btn-group">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownHead" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Eine Person ausw&#228;hlen
      <span class="caret"></span>
    </button>
    <div class="dropdown-menu ulTopMenuWidth" aria-labelledby="dropdownHead" style="max-height: 300px; overflow-y: auto; padding: 10px;">
      <input type="text" class="form-control mb-2" id="userSearch" placeholder="Namen filtern..." onkeyup="filterUsers()">
      <ul id="userList" class="list-unstyled">
        {% for item in allUsers %}
          <li><a onclick="goOnWithUser({{item.id}},'{{item.username}}')"
                 class="dropdown-menu-man">
              {{item.username}} ({{item.first_name}} {{item.last_name}})
            </a></li>
        {% endfor %}
      </ul>
    </div>
  </div>


	<div id="divEingabeform" class="panel panel-default" style="display: none;">

		<br>

		<div class="bigLink indented inline" id="user"></div>
		&nbsp;&nbsp;
		<button name="KontostandAnzeige" onclick="showKontostand()" class="btn btn-sm btn-outline-info">Kontostand einblenden</button>
		
		<br><br>

		<form method="post" class="indented">
            {% csrf_token %}


            {% render_field form.idUser style+="display: none;" %}

            <div class="form-group">
                {{ form.typ.label_tag }}
                {{ form.typ }}
                <br>
                {% if form.typ.errors %}
                    <p class="alert alert-danger">{{ form.typ.errors.as_text }}</p>
                {% endif %}
                {% if form.typ.help_text %}
                    <p class="alert alert-info">{{ form.typ.help_text|safe }}</p>
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.betrag.label_tag }}
                {{ form.betrag | attr:"class:form-control" | attr:"placeholder:x,yz €" }}
                <br>
                {% if form.betrag.errors %}
                    <p class="alert alert-danger">{{ form.betrag.errors.as_text }}</p>
                {% endif %}
                {% if form.betrag.help_text %}
                    <p class="alert alert-info">{{ form.betrag.help_text|safe }}</p>
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.kommentar.label_tag }}
                {{ form.kommentar | attr:"class:form-control" | attr:"rows:5"}}
                <br>
                {% if form.kommentar.errors %}
                    <p class="alert alert-danger">{{ form.kommentar.errors.as_text }}</p>
                {% endif %}
                {% if form.kommentar.help_text %}
                    <p class="alert alert-info">{{ form.kommentar.help_text|safe }}</p>
                {% endif %}
            </div>

            
            <input type="submit" class="btn btn-primary" value="Transaktion t&#228;tigen" />  
        </form>

	</div>

	<br>
	<hr>
	<a class="bigLink" href="{% url 'home_page' %}">zur&#252;ck zum pers&#246;nlichen Bereich</a><br>


{% endblock %}

{% block javascript %}

	<script type="text/javascript">

    function filterUsers() {
      const searchInput = document.getElementById('userSearch').value.toLowerCase();
      const userList = document.getElementById('userList').getElementsByTagName('li');
      for (let i = 0; i < userList.length; i++) {
        const userText = userList[i].innerText.toLowerCase();
        userList[i].style.display = userText.includes(searchInput) ? '' : 'none';
      }
    }

		var tmp_user;
		function goOnWithUser(userID,username) {
			$("div#divEingabeform").show(400);
			$('input[name="idUser"]').val(userID);
			$("div#user").html(username);
			tmp_user = userID;
		}
	
		function showKontostand() {
			$(document).ready(
				$.ajax({
					type: "GET",
					url: "{% url 'einzahlung_page' %}",
					data: {'userID': tmp_user, 'getUserKontostand': true},
					success: function(data){
						$('button[name="KontostandAnzeige"]').html('Kontostand: '+ data);
						setTimeout(
							function(){
								$('button[name="KontostandAnzeige"]').html('Kontostand einblenden');
							}
						,1000);
					}
				})
			);
		}

	</script>	

{% endblock %}

{% block css %}
  <style>
    .dropdown-menu-man {
      text-decoration: none;
      color:#333;
      padding: 3px 20px;
      display: block;
    }
    .dropdown-menu-man:hover {
      background-color: #f5f5f5;
      text-decoration: none;
    }
  </style>
{% endblock %}
