{% extends 'kiosk/base.html' %}

{% block content %}
	
	<div class="page-header noMarginTop">
		<h4>Mein pers&#246;nlicher Bereich</h4>
	</div>

	<div class="panel-group" id="accordion">

		{% if perms.profil.perm_kauf %}
			<div class="panel panel-default">
				<div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapse_1">
					<h5 class="panel-title bold">
						<a class="accordion-toggle">
							Mein Kontostand
						</a>
					</h5>
				</div>
				<div id="collapse_1" class="panel-collapse collapse in">
					<div class="panel-body justified">
						<div>
							<span class="bigLink">
								{{kontostand | floatformat:2}} &#8364;
							</span>
							&nbsp; &nbsp;
							&nbsp; &nbsp;
							<span>
								<b>Gespendet: {{gespendet | floatformat:2}} &#8364;</b>
							</span>
						</div>
						<br>
						<a class="btn btn-info" href="{% url 'kontobewegungen_page' %}">Meine Kontobewegungen anzeigen</a>
						<br><br>
						<a class="btn btn-info" href="{% url 'kauf_page' %}">Einkaufen</a>
						<br><br>
						<a class="btn btn-info" href="{% url 'paypal_einzahlung_page' %}">Einzahlung auf mein Konto</a>
					</div>
				</div>
			</div>
		{% endif %}

		{% if perms.profil.do_einkauf %}
			<div class="panel panel-default">
				<div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapse_2">
					<h5 class="panel-title bold">
						<a class="accordion-toggle">
							Meine zu erledigenden Eink&#228;ufe
						</a>
					</h5>
				</div>
				<div id="collapse_2" class="panel-collapse collapse">
					<div class="panel-body justified">

						{% if not persEinkaufsliste %}
							<table class="table table-striped smallText">
								<tr><th>keine zu erledigenden Eink&#228;ufe</th></tr>
							</table>
						{% else %}
							<table class="table table-striped smallText autoSize">
								<tr>
									<th>Produkt</th>
									<th>Anzahl zu kaufen</th>
									<th>Maximaler Einkaufspreis</th>
								</tr>

								{% for item in persEinkaufsliste %}
									<tr>
										<td>{{item.produktname}}</td>
										<td>{{item.anzahlElemente}}</td>
										<td>{{item.einkaufspreis | floatformat:2}} &#8364;</td>
									</tr>
								{% endfor %}
							</table>
						{% endif %}

						<br>
						<a class="btn btn-info" href="{% url 'meine_einkaufe_page' %}">Verwalten meiner Einkaufsliste</a>
						<br><br>
						<a class="btn btn-info" href="{% url 'produkt_kommentare_page' %}">Produkte kommentieren</a>
						
					</div>
				</div>
			</div>
		{% endif %}

		<div class="panel panel-default">
			<div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapse_3">
				<h5 class="panel-title bold">
					<a class="accordion-toggle">
						Einstellungen
					</a>
				</h5>
			</div>
			<div id="collapse_3" class="panel-collapse collapse">
				<div class="panel-body justified">
					
					<a class="btn btn-info" href="{% url 'slackComTest_page' %}">Benachrichtigungen auf Slack testen</a>
          <br><br>
					<a class="btn btn-info" href="{% url 'personal_info_change' %}">Persönliche Daten &#228;ndern</a>
					<br><br>
					<a class="btn btn-info" href="{% url 'password_change' %}">Passwort &#228;ndern</a>
					<br><br>
					<a class="btn btn-info" href="{% url 'angestellt_bis_change' %}">Datum der Deaktivierung &#228;ndern</a>

				</div>
			</div>
		</div>

		{% if perms.profil.do_verwaltung_product_operations or perms.profil.do_verwaltung_financial_operations or perms.profil.do_verwaltung_product_management %}
			<div class="panel panel-default">
				<div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapse_4">
					<h5 class="panel-title bold">
						<a class="accordion-toggle">
							Verwaltung
						</a>
					</h5>
				</div>
				<div id="collapse_4" class="panel-collapse collapse">
					<div class="panel-body justified">

            {% if perms.profil.do_verwaltung_product_operations %}
						  <a class="btn btn-info" href="{% url 'einkauf_annahme_page' %}">Besorgungen annehmen</a><br><br>
            {% endif %}
            {% if perms.profil.do_verwaltung_financial_operations %}
						  <a class="btn btn-info" href="{% url 'einzahlung_page' %}">Einzahlung / Auszahlung verbuchen</a><br><br>
            {% endif %}
            {% if perms.profil.do_verwaltung_product_operations %}
						  <a class="btn btn-info" href="{% url 'rueckbuchungen_page' %}">R&#252;ckbuchung eines Kaufs</a><br><br>
            {% endif %}
            {% if perms.profil.do_verwaltung_product_operations %}
						  <a class="btn btn-info" href="{% url 'inventory' %}">Inventur durchf&#252;hren</a><br><br>
            {% endif %}
            {% if perms.profil.do_verwaltung_financial_operations %}
              <a class="btn btn-info" href="{% url 'transaktion_page' %}">Geldtransaktionen t&#228;tigen</a><br><br>
            {% endif %}
            {% if perms.profil.do_verwaltung_product_operations %}
						  <a class="btn btn-info" href="{% url 'fillKioskUp' %}">Aktualisierung der Einkaufsliste anstoßen</a>
            {% endif %}
					</div>
				</div>
			</div>
		{% endif %}

		{% if perms.profil.do_admin_tasks %}
			<div class="panel panel-default">
				<div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapse_5">
					<h5 class="panel-title bold">
						<a class="accordion-toggle">
							Administrator-Bereich
						</a>
					</h5>
				</div>
				<div id="collapse_5" class="panel-collapse collapse">
					<div class="panel-body justified">

						<a class="btn btn-info" href="{% url 'statistics' %}">Statistiken anzeigen</a>
					
					</div>
				</div>
			</div>
		{% endif %}

	</div>

	<hr>
	<a class="bigLink" onclick="javascript:history.go(-1);">zur&#252;ck</a>

{% endblock %}
