{% extends 'kiosk/base.html' %}	

{% block content %}
	
	<div class="page-header noMarginTop">
		<h4>Mein pers&#246;nlicher Bereich</h4>
	</div>

	<div class="panel-group" id="accordion">

		{% if perms.profil.perm_kauf %}
			<div class="panel panel-default">
				<div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapse_1">
					<h5 class="panel-title smallText bold">
						<a class="accordion-toggle">
							Mein Kontostand
						</a>
					</h5>
				</div>
				<div id="collapse_1" class="panel-collapse collapse in">
					<div class="panel-body smallText justified">
						<b>{{kontostand | floatformat:2}} &#8364;</b>
						<br>	
						<a href="{% url 'kontobewegungen_page' %}" style="font-size: 75%;">Kontobewegungen anzeigen</a>
					</div>
				</div>
			</div>
		{% endif %}

		{% if perms.profil.do_einkauf %}
			<div class="panel panel-default">
				<div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapse_2">
					<h5 class="panel-title smallText bold">
						<a class="accordion-toggle">
							Meine zu erledigenden Eink&#228;ufe
						</a>
					</h5>
				</div>
				<div id="collapse_2" class="panel-collapse collapse">
					<div class="panel-body smallText justified">
						<p class="itemsDef">
							Item | # | &#8364; 
						</p>
						
						{% for item in persEinkaufsliste %}
							<p class="items">
								{{item.produktname}}  | 
								{{item.anzahlElemente}}  |
								<{{item.einkaufspreis | floatformat:2}} &#8364;
							</p>
						{% endfor %}

						<br>	
						<a href="{% url 'meine_einkaufe_page' %}" style="font-size: 75%;">
							Verwalten meiner Einkaufsliste
						</a>
						<br><br>
						<a href="{% url 'produkt_kommentare_page' %}">Produkte kommentieren</a>
					</div>
				</div>
			</div>
		{% endif %}

		<div class="panel panel-default">
			<div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapse_3">
				<h5 class="panel-title smallText bold">
					<a class="accordion-toggle">
						Einstellungen
					</a>
				</h5>
			</div>
			<div id="collapse_3" class="panel-collapse collapse">
				<div class="panel-body smallText justified">
					
					{% if perms.profil.perm_kauf %}
						<div class="panel panel-default">
							<a class="bigLink" href="{% url 'slackComTest_page' %}">Benachrichtigungen auf Slack testen</a>
						</div>
					{% endif %}

					{% if perms.profil.perm_kauf and not perms.profil.do_einkauf %}
						<div class="panel panel-default">
							<a class="bigLink" style="color: #888888;" href="#">Eink&#228;ufer werden</a>
						</div>
					{% endif %}
						
					<div class="panel panel-default">
						<a class="bigLink" href="{% url 'password_change' %}">Passwort &#228;ndern</a>
					</div>

					<div class="panel panel-default">
						<a class="bigLink" href="{% url 'angestellt_bis_change' %}">Datum der Deaktivierung &#228;ndern</a>
					</div>

				</div>
			</div>
		</div>

		{% if perms.profil.do_verwaltung %}
			<div class="panel panel-default">
				<div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapse_4">
					<h5 class="panel-title smallText bold">
						<a class="accordion-toggle">
							Verwaltung
						</a>
					</h5>
				</div>
				<div id="collapse_4" class="panel-collapse collapse">

					<div class="panel panel-default">
						<a class="bigLink" href="{% url 'einkauf_annahme_page' %}">Besorgungen annehmen</a>
					</div>

					<div class="panel panel-default">
						<a class="bigLink" href="{% url 'einzahlung_page' %}">Einzahlung / Auszahlung vornehmen</a>
					</div>

					<div class="panel panel-default">
						<a class="bigLink" href="{% url 'rueckbuchungen_page' %}">R&#252;ckbuchung eines Kaufs</a>
					</div>

					<div class="panel panel-default">
						<a class="bigLink" href="{% url 'inventory' %}">Inventur durchf&#252;hren</a>
					</div>

				</div>
			</div>
		{% endif %}

		{% if perms.profil.do_admin_tasks %}
			<div class="panel panel-default">
				<div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapse_5">
					<h5 class="panel-title smallText bold">
						<a class="accordion-toggle">
							Administrator-Bereich
						</a>
					</h5>
				</div>
				<div id="collapse_5" class="panel-collapse collapse">

					<div class="panel panel-default">
						<a class="bigLink" href="{% url 'transaktion_page' %}">Geldtransaktionen t&#228;tigen</a>
					</div>

					<div class="panel panel-default">
						<a class="bigLink" href="{% url 'neuerNutzer_page' %}">Nutzer anlegen</a>
					</div>

					<div class="panel panel-default">
						<a class="bigLink" href="{% url 'fillKioskUp' %}">Manuell automatische Aufstockung <br>der Bedarfsliste ausf&#252;hren</a>
					</div>

					<div class="panel panel-default">
						<a class="bigLink" href="{% url 'statistics' %}">Statistiken anzeigen</a>
					</div>
					
				</div>
			</div>
		{% endif %}

	</div>

{% endblock %}
