{% extends 'kiosk/base.html' %}	

{% block content %}

	<div class="page-header noMarginTop">
		<h4>Aktuell im Kiosk</h4>
	</div>

	<div>

		<table class="table table-striped smallText">
			<tr>
				<th>Produkt</th>
				<th>Anzahl verfügbar</th>
				<th>Verkaufspreis</th>
			</tr>

			{% for item in kioskItems %}
				<tr>
					<td>{{item.produktName}}</td>
					<td>{{item.anzahl}}</td>
					<td>{{item.verkaufspreis | floatformat:2}} &#8364;</td>
				</tr>
			{% endfor %}
		</table>

	</div>

{% endblock %}
