{% extends 'kiosk/base.html' %}	
{% load staticfiles %}

{% block content %}
	
	<div class="page-header noMarginTop">
		<h4>Inventur durchf&#252;hren <small>Auswertung</small></h4>
	</div>
	
	<div>

		
		<table class="table table-striped smallText autoSize">
			<tr>
				<th>Produkt</th>
				<th>Ergebnis</th>
			</tr>
			{% for item in report %}
			<tr>
				<td>
					{{item.produkt_name}}
				</td>

				<td>
					{{item.message}}			
				</td>
			</tr>
			{% endfor %}
		</table>

		<br><br>

		<p class="alert alert-info">
			Gesamter Verlust (bei dieser Inventur identifiziert):
			<br>
			<b>{{loss | floatformat:2}} &#8364;</b>
			<br>
			Gesamter Zugewinn (bei dieser Inventur identifiziert):
			<br>
			<b>{{tooMuch | floatformat:2}} &#8364;</b>
		</p>

	</div>

	<br>
	<hr>
	<a class="bigLink" href="{% url 'home_page' %}">zur&#252;ck zum persönlichen Bereich</a>

	<br><br>
	<a href="{% url 'inventory' %}">zurück</a>

	


{% endblock %}
