{% extends 'kiosk/base.html' %}	
{% load staticfiles %}

{% block content %}
	
	<div class="page-header noMarginTop">
		<h4>Inventur durchf&#252;hren</h4>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading bold">
			Info
		</div>
		<div class="panel-body justified smallText">
			Z&#228;hle alle Produkte im Kiosk und trage die jeweilige Anzahl beim Produkt in die Spalte "# Ist". Der Wert darf gr&#246;&#223;er oder kleiner sein als der Wert in Spalte "# Soll". Du kannst auch nur eine Teil-Inventur machen und nur bestimmte Artikel z&#228;hlen.
			<br>
			<b>Bitte beachte: </b>Bevor du mit der Inventur beginnst, lade bitte die Seite neu, so dass du den aktuellen "# Soll"-Stand hast.
			<br>
			Sollte ein Produkt im Kiosk vorhanden sein, aber das Produkt ist nicht hier aufgelistet, dann f&#252;hre eine <a href="{{ rueckbuchung_dieb_page }}">R&#252;ckbuchung des Produkts vom Benutzer "Kiosk-Dieb"</a> durch.
			<!-- Be careful here! This link is only valid when "Kiosk-Dieb" is installed on ID 4 in the database!-->
		</div>
	</div>

	<form method="POST">{% csrf_token %}
		<table class="table table-striped smallText autoSize">
			<tr>
				<th>Beachten?</th>
				<th>Produkt</th>
				<th># Soll</th>
				<th># Ist</th>
			</tr>
			{% for item in inventoryList %}
			<tr">
				<td>
					<input type="checkbox" id="{{item.checkbutton_id_name}}" name="{{item.checkbutton_id_name}}" value="yes" checked>
				</td>
				<td>{{item.produkt_name}}</td>
				<td>{{item.anzahl}}</td>
				<td>
					<input type="text" name="{{item.count_id_name}}" id="{{item.count_id_name}}" value="{{item.anzahl}}" style="width: 50px;">					
				</td>
			</tr>
			{% endfor %}
		</table>

		<br>
		&nbsp;
		<input type="checkbox" name="sendMessage" value="sendMessage" checked>
		&nbsp; &nbsp; 
		Unbezahlte Produkte im Slack-Channel posten.
		<br><br>

		<button type="submit" class="btn btn-primary" style="font-weight: bold;font-size: 100%;">
			Inventur abschicken
		</button>

	</form>


	<br>
	<hr>
	<a class="bigLink" href="{% url 'home_page' %}">zur&#252;ck zum pers&#246;nlichen Bereich</a><br>


	


{% endblock %}
