{% extends 'kiosk/base.html' %}	
{% load staticfiles %}

{% block content %}
	
	<div class="page-header noMarginTop">
		<h4>Inventur durchf&#252;hren</h4>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading bold">
			Info
		</div>
		<div class="panel-body justified smallText">
			Zähle alle Produkte im Kiosk und trage die jeweilige Anzahl beim Produkt in die Spalte "# Ist". Der Wert darf größer oder kleiner sein als der Wert in Spalte "# Soll". Du kannst auch nur eine Teil-Inventur machen und nur bestimmte Artikel zählen.
			<br>
			<b>Bitte beachte: </b>Bevor du mit der Inventur beginnst, lade bitte die Seite neu, so dass du den aktuellen "# Soll"-Stand hast.
			<br>
			Sollte ein Produkt im Kiosk vorhanden sein, aber das Produkt ist nicht hier aufgelistet, dann führe eine <a href="{% url 'rueckbuchungen_user_page' userID=4 %}">Rückbuchung des Produkts vom Benutzer "Kiosk-Dieb"</a> durch.
			<!-- Be careful here! This link is only valid when "Kiosk-Dieb" is installed on ID 4 in the database!-->
		</div>
	</div>

	<form method="POST">{% csrf_token %}
		<table class="table table-striped smallText autoSize">
			<tr>
				<th>Beachten?</th>
				<th>Produkt</th>
				<th># Soll</th>
				<th># Ist</th>
			</tr>
			{% for item in inventoryList %}
			<tr">
				<td>
					<input type="checkbox" id="{{item.checkbutton_id_name}}" name="{{item.checkbutton_id_name}}" value="yes" checked>
				</td>
				<td>{{item.produkt_name}}</td>
				<td>{{item.anzahl}}</td>
				<td>
					<input type="text" name="{{item.count_id_name}}" id="{{item.count_id_name}}" value="{{item.anzahl}}" style="width: 50px;">					
				</td>
			</tr>
			{% endfor %}
		</table>

		<button type="submit" class="btn btn-primary" style="font-weight: bold;font-size: 100%;">
			Inventur abschicken
		</button>

	</form>


	<br>
	<hr>
	<a class="bigLink" href="{% url 'home_page' %}">zur&#252;ck zum persönlichen Bereich</a><br>


	


{% endblock %}
