{% extends 'kiosk/base.html' %}	

{% block content %}
	
	<h3>Im FfE-Kiosk einkaufen</h3>

	<div class="eingerueckt">

		<div style="color: red;">
			<br>
			{{msg}}
			<br>
		</div>

		{% if allowed == True %}
			<div class="dropdown">
				<button class="dropbtn">Produktauswahl</button>
				<div class="dropdown-content">
					{% for item in kioskItems %}
						<a href="#" onclick="toSelection('{{item.produktName}}','{{item.verkaufspreis | floatformat:2}}')">{{item.produktName}}: {{item.verkaufspreis | floatformat:2}} &#8364;</a>
					{% endfor %}
				</div>
			</div>

			<script>
				function toSelection(inputItem,inputPrice) {
					$("div#divSelectionContainer").show(200);
				    $("div#produktName").html(inputItem);
				    $("div#verkaufspreis").html(inputPrice); 
				    $("input#produktName").val(inputItem);
				    $("input#verkaufspreis").val(inputPrice);
				}
			</script>	

			<br><br>
			
			<div id="divSelectionContainer" style="padding-left: 15vw;">
				<br>
				<form method="POST" class="">{% csrf_token %}
					<div class="formDiv" id="produktName"></div><b>:</b> 
					<div class="formDiv" id="verkaufspreis"></div> <b>&#8364;</b>
					<br><br>
					<input type="text" name="produktName" id="produktName" style="display: none" readonly>
					<input type="text" name="verkaufspreis" id="verkaufspreis" style="display: none" readonly>
					<button type="submit" class="btn" style="font-weight: bold;font-size: 100%;">
						Kaufen
					</button>
				</form>	

			</div>
			<script type="text/javascript">
				$(document).ready(function(){
					$("div#divSelectionContainer").hide();
				});
			</script>
		{% endif %}

	</div>

	<hr>
	<a href="{% url 'home_page' %}">zur&#252;ck</a><br>

{% endblock %}
