{% extends 'kiosk/base.html' %}	

{% load tz %}

{% block content %}
	
	<div class="page-header noMarginTop">
		<h4>Meine Kontobewegungen</h4>
	</div>
	

	<div>

		<div class="panel panel-default panel-body smallText justified">
			<div class="bigLink">Kontostand: {{kontostand | floatformat:2}} &#8364;</div>
		</div>

		{% if prevpage >= 1 %}
			<a href="{% url 'kontobewegungen_page_next' s=prevpage %}"><span class="bigCaretUp"></span></a>
			<br>
		{% else %}
			<br>
		{% endif %}
		<br>

		<table class="table table-striped smallText autoSize">
			<tr>
				<th>#</th>
				<th>Betrag</th>
				<th>Zeit</th>
				<th>Kommentar</th>
			</tr>

			{% for item in kontobewegungen %}
				<tr>
					<td>{{item.AutoTrans_ID}}</td>				
					<td class="bold">{{item.betrag | floatformat:2}} &#8364;</td>
					<td>{{item.datum | date:"d.m.Y H:i"}}</td>
					<td>{{item.kommentar}}</td>
				</tr>
			{% endfor %}
		</table>

		{% if nextpage <= maxpage %}
			<a href="{% url 'kontobewegungen_page_next' s=nextpage %}"><span class="bigCaret"></span></a>
		{% else %}
			<br>
		{% endif %}

	</div>

	<hr>
	<a class="bigLink" href="{% url 'home_page' %}">zur&#252;ck zum pers&#246;nlichen Bereich</a>


	


{% endblock %}
