{% extends 'kiosk/base.html' %}	
{% load staticfiles %}

{% block content %}
	
	<h4> Neueste Produktkommentare: </h4>
	<br>
	<div class="eingerueckt">

		<table class="konto">
			<tr class="konto">
				<th class="konto" style="min-width:50px;text-align: center;">Item</th>
				<th class="konto" style="width:100px;text-align: center;">Date</th>
				<th class="konto">Comment</th>
				<th class="konto" style="width:50px;text-align: center;">Change</th>
			</tr>
			{% for item in allProductComments %}
			<tr class="konto">
				<td class="konto" style="text-align: center;">{{item.produkt_name}}</td>
				<td class="konto" style="text-align: center;">{{item.erstellt}}</td>
				<td class="konto">{{item.kommentar}}</td>
				<td class="konto" style="text-align: center;">
					<a href="{% url 'produkt_kommentieren_page' s=item.produktpalette_id %}"><span class="glyphicon glyphicon-edit"></span></a>
				</td>
			</tr>
			{% endfor %}
		</table>

	</div>

	<hr>
	<a href="{% url 'home_page' %}">zur&#252;ck</a><br>


	


{% endblock %}
