{% extends 'kiosk/base.html' %}	
{% load staticfiles %}

{% block content %}
	
	<div class="page-header noMarginTop">
		<h4>
			<a style="color: black;" href="{% url 'produkt_kommentare_page' %}">Produktkommentare</a> 
			<small>{{ productName }}</small>
		</h4>
	</div>


	<div id="commentActivator">
		<button type="button" class="btn btn-secondary" onclick="activateCommentForm()">
			<small>Kommentar erstellen</small>
		</button>
		&nbsp;&nbsp;
		<a onclick="javascript:history.go(-1);">zur&#252;ck</a>
	</div>


	<div id="commentForm" style="display: none;">
		<form method="POST" class="">{% csrf_token %}
			<input type="text" name="productID" id="productID" style="display: none" readonly value="{{productID}}">

			<textarea name="kommentar" rows="5" cols="150" wrap="soft"
				id="kommentar" class="form-control" maxlength="512"
				style="">{{latestComment}}</textarea>

			<br>
			<button type="submit" class="btn btn-primary">Kommentar abgeben </button>
			&nbsp;&nbsp;
			<button type="button" class="btn btn-secondary" onclick="deactivateCommentForm()">
				<small>Kommentar verwerfen</small>
			</button>
			&nbsp;&nbsp;
			<a class="smallText" onclick="javascript:history.go(-1);">Abbrechen & zur&#252;ck</a>
		</form>
	</div>


	<br>


	<div>
		<table class="table table-striped smallText autoSize">
			<tr>
				<th>Datum</th>
				<th>Kommentar</th>
			</tr>
			{% for item in allCommentsOfProduct %}
			<tr>
				<td>{{item.erstellt | date:"d.m.Y H:i"}}</td>
				<td>{{item.kommentar}}</td>
			</tr>
			{% endfor %}
		</table>
	</div>


	<hr>
	<a class="bigLink" onclick="javascript:history.go(-1);">zur&#252;ck</a>
	


{% endblock %}

{% block javascript %}

	<script type="text/javascript">
		function activateCommentForm() {
			$("div#commentForm").show(400);
			$("div#commentActivator").hide(400);
		}

		function deactivateCommentForm() {
			$("div#commentForm").hide(400);
			$("div#commentActivator").show(400);
		}
	</script>

{% endblock %}