{% extends 'kiosk/base.html' %}	
{% load static %}

{% block content %}
	
	<div class="page-header noMarginTop">
		<h4>Produktkommentare <small>bearbeiten</small></h4>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading bold">
			Info
		</div>
		<div class="panel-body justified smallText">
			Hier werden dir die neuesten Kommentare und Tipps zu Produkten angezeigt, die dir bei Besorgungen helfen sollen: Wo gibt es was zu kaufen? Wann gibt es Produkte im Sonderangebot? ...
			<br>
			Wenn du einen weiteren Tipp hast, klicke einfach rechts beim jeweiligen Produkt auf das Bearbeiten-Symbol und erstelle deinen eigenen Kommentar.
		</div>	
	</div>

	<div>
		<table class="table table-striped smallText">
			<tr>
				<th>Produkt</th>
				<th>Datum</th>
				<th>Kommentar</th>
				<th class="fit">Edit</th>
			</tr>

			{% for item in allProductComments %}
				<tr>
					<td>{{item.produkt_name}}</td>
					<td>{{item.erstellt | date:"d.m.Y H:i"}}</td>
					<td>
						<div class="cutTextOff">
							<a href="{% url 'produkt_kommentieren_page' s=item.produktpalette_id %}">
								{{item.kommentar}}
							</a>
						</div>
					</td>
					<td class="fit">
						<a href="{% url 'produkt_kommentieren_page' s=item.produktpalette_id %}"><span class="glyphicon glyphicon-pencil"></span></a>
					</td>
				</tr>
			{% endfor %}
		</table>
	</div>

	<hr>
	<a class="bigLink" onclick="javascript:history.go(-1);">zur&#252;ck</a>

{% endblock %}
