{% extends 'kiosk/base.html' %}	

{% block content %}
	
	<div class="page-header noMarginTop">
		<h4>R&#252;ckbuchung von K&#228;ufen <small>K&#228;ufer(in) w&#228;hlen</small></h4>
	</div>

	
	<div class="panel panel-default">
		<div class="panel-heading bold">
			Info
		</div>
		<div class="panel-body justified smallText">
			W&#228;hle f&#252;r die R&#252;ckbuchung eines Kaufs den/die K&#228;ufer(in) aus. Auf der n&#228;chsten Seite kannst dann die K&#228;ufe r&#252;ckbuchen.
		</div>
	</div>

	<table class="table table-striped smallText autoSize">
		<tr>
			<th style="text-align: right;"></th>
			<th>K&#228;ufer(in) w&#228;hlen</th>
		</tr>

		{% for item in allActiveUsers %}
			<tr>
				<td style="text-align: right;">
					<a href="{% url 'rueckbuchungen_user_page' userID=item.id %}">
						<span class="glyphicon glyphicon-user" aria-hidden="true"></span>						
					</a>
				</td>
				<td>
					<a href="{% url 'rueckbuchungen_user_page' userID=item.id %}">
						{{item.username}} ({{item.first_name}} {{item.last_name}})
					</a>
				</td>
			</tr>
		{% endfor %}
	</table>


	<hr>
	<a class="bigLink" href="{% url 'home_page' %}">zur&#252;ck zum pers&#246;nlichen Bereich</a><br>






		<div class="eingerueckt">

			<!--  Wird von 'rueckbuchungen_gekauft_liste eingetragen'  -->
			<div id="divSeineEinkaeufe"></div>

			<script type="text/javascript">
				
				$(document).ready(function(){
					$("div#divSeineEinkaeufe").hide();
				});

				function goOnWithWare(product_name,productID,max_count,userID){
					$("input#anzahlZurueck").val(1);
				    $("div#divWarenAuswahl").show(200);
				    $("input#productID").val(productID);
				    $("input#userID").val(userID);
				    $("input#anzahlElemente").val(max_count);
					$("div#produktName").html(product_name);
				    $("div#anzahlElemente").html(max_count);
				};
			</script>


			<br>

			<div id="divWarenAuswahl" style="padding-left: 8vw;">
				<br>
				<form method="POST" class="">{% csrf_token %}
					<input type="text" name="userID" id="userID" style="display: none" readonly>
					<input type="text" name="productID" id="productID" style="display: none" readonly>
					<input type="text" name="anzahlElemente" id="anzahlElemente" style="display: none" readonly>
					
					<div class="formDiv" id="produktName"></div> | 
					<div class="formDiv" id="anzahlElemente"></div>
					
					<br><br>
					
					<table style="width: 60%;border-spacing: 5px;text-align: left;">
						<tr>
							<td><label>r&#252;ckzubuchende St&#252;ckzahl</label></td>
							<td><input type="text" name="anzahlZurueck" id="anzahlZurueck" 
							class="form-control" style="width: 80px;display: inline;"></td>
						</tr>
					</table>

					<br>
					<button type="submit" class="btn">Ware r&#252;ckbuchen</button>
				</form>	

			</div>
			<script type="text/javascript">
				$(document).ready(function(){
					$("div#divWarenAuswahl").hide();
				});
			</script>

		</div>




{% endblock %}
