{% extends 'kiosk/base.html' %}	

{% block content %}
	
	<h3>Benachrichtigungen auf Slack testen</h3> 
	<br>

	<div class="eingerueckt">
		Eine Testnachricht wurde an deinen pers&#246;nlichen Slackbot-Channel gesendet.
		Falls keine Nachricht angekommen ist, wende dich bitte an einen Administrator.


		<br><br>

		<a href="{% url 'slackComTest_page' %}">Testnachricht erneut senden</a>
		<br>
		<br>
		<a href="{% url 'home_page' %}">zur&#252;ck zum pers&#246;nlichen Bereich</a>
		

	</div>


{% endblock %}
