{% extends 'kiosk/base.html' %}	
{% load staticfiles %}

{% block content %}

	<div class="page-header noMarginTop">
		<h4>
			Herzlich Willkommen 
			{% if user.is_authenticated %}
				<small>{{ user.first_name }}!</small>
			{% else %}
				!
			{% endif %}
		</h4>
	</div>

	<div class="row">
		<div class="col-xs-10 col-sm-5 col-lg-5">
			<img src="{% static 'img/icon.gif' %}" style="opacity: 0.7; max-width: 100%; max-height: 100%; max-height: 110px;" />
		</div>

		<div class="col-xs-12 col-sm-7 col-lg-7 margingPadding justified">
			Gemeinschaftlich betreiben wir unseren Kiosk, indem wir uns die anfallenden Tätigkeiten in kleine Arbeitspakete aufteilen. 
			<!--Der Kiosk wirtschaftet gemeinwohlorientiert: Produkte werden möglichst zu üblichen Supermarktpreisen verkauft. Die Besorgung von Waren wird bei Sparangeboten durchgeführt.
			Von den Gewinnen werden durchgeführte Tätigkeiten für den Kiosk entlohnt, verbleibende Überschüsse werden jährlich gespendet.-->
			<br>
			Jeder FfE'ler ist herzlich eingeladen, dem Kiosk beizutreten, zu nutzen und zu unterstützen!
			<br>
			<br>
			<a class="btn btn-primary" href="{% url 'anleitung_page' %}">Info & Erste Schritte</a>
			&nbsp;
			<a class="btn btn-primary" href="{% url 'neuerNutzer_page' %}">Konto erstellen</a>
		</div>
	</div>


	<div class="page-header">
		<h4>Neuigkeiten</h4>
	</div>


	<div class="panel-group" id="accordion">
		{% for n in news %}

			<div class="panel panel-default">

				<div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#{{n.html_id}}">
					<h5 class="panel-title smallText bold">
						<a class="accordion-toggle">
							({{ n.date | date:"d.m.Y" }}) {{ n.heading | safe }}
						</a>
					</h5>
				</div>

				{% if n.html_id == "collapse_0" %}
					<div id="{{n.html_id}}" class="panel-collapse collapse in">
				{% else %}
					<div id="{{n.html_id}}" class="panel-collapse collapse">
				{% endif %}
					<div class="panel-body smallText justified">
						{{ n.content | safe }}
					</div>
				</div>

			</div>

		{% endfor %}
	</div>




	<div class="page-header">
		<h4>Quick-Links & Navigation</h4>
	</div>

	{% if not user.is_authenticated %}

		<div class="smallPadding">
			Hier geht es zum
			<a class="bigLink" href="{% url 'login' %}">Login.</a>
		</div>

		<div class="smallPadding">
			Hier geht es zur
			<a class="bigLink" href="{% url 'neuerNutzer_page' %}">Registrierung</a>
			f&#252;r neue Nutzer.
		</div>

	{% else %}

		{% if perms.profil.perm_kauf %}
			<div class="smallPadding">
				Ein Produkt
				<a class="bigLink" href="{% url 'kauf_page' %}">kaufen.</a>
			</div>
		{% endif %}

		{% if perms.profil.do_einkauf %}
			<div class="smallPadding">
				Eine 
				<a class="bigLink" href="{% url 'einkauf_vormerk_page' %}">Besorgung ank&#252;ndigen.</a>
			</div>
		{% endif %}

		<div class="smallPadding">
			Hier geht es zum
			<a class="bigLink" href="{% url 'registrationStatus' %}">pers&#246;nlichen Bereich.</a>
		</div>

	{% endif %}


	{% if user.is_authenticated and perms.profil.perm_kauf %}
		<div class="page-header">
			<h4>Am Rande ...</h4>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading bold smallText">
				Verantwortliche Personen
			</div>
			<div class="panel-body justified smallText">
				<h5>Verwalter:</h5> 
				<b>{{accountants}}</b>
				<br>
				<i>Zust&#228;ndig f&#252;r Einzahlungen/Auszahlungen, R&#252;ckbuchungen von Eink&#228;ufen und Annahme von Eink&#228;ufen</i>

				<br><br>

				<h5>Administratoren:</h5> 
				<b>{{admins}}</b>
				<br>
				<i>Zust&#228;ndig f&#252;r Account-Verwaltung, technische Probleme, Verbesserungsvorschl&#228;ge, ...</i>
			</div>
		</div>


		<div class="panel panel-default">
			<div class="panel-heading bold smallText">
				Verdiente Personen
			</div>
			<div class="panel-body justified smallText">
				<b>Eink&#228;ufer der Woche: </b>{{bestBuyers}}
				<br>
				<b>Verwalter der Woche: </b>{{bestVerwalter}}
				<br>
				Dankesch&#246;n daf&#252;r!!!
			</div>
		</div>


		<div class="panel panel-default">
			<div class="panel-heading bold smallText">
				Statistik: Unbezahlt im Kiosk
			</div>
			<div class="panel-body justified smallText">
				<div style="max-width: 500px;">
					{{ chart_DaylyVkValue.as_html }}
				</div>	
			</div>
		</div>
	
		
	{% endif %}

{% endblock %}
