{% extends 'kiosk/base.html' %}	
{% load static %}

{% block content %}

	<div class="page-header noMarginTop">
		<h4>
			Herzlich Willkommen 
			{% if user.is_authenticated %}
				<small>{{ user.first_name }}!</small>
			{% else %}
				!
			{% endif %}
		</h4>
	</div>

	<div class="row">
		<div class="col margingPadding">
			<div class="panel panel-default">
				<div class="panel-body bigger" style="background: white;">
				<p>
					Gemeinschaftlich betreiben wir unseren Kiosk, indem wir uns die anfallenden Tätigkeiten
					in kleine Arbeitspakete aufteilen. Jede:r kann damit einen kleinen Beitrag leisten, den Betrieb
					aufrechtzuerhalten.
					Eventuelle Profite und Verluste werden solidarisch geteilt
					<br>
					Jede FfE'ler:in ist herzlich eingeladen, dem Kiosk beizutreten, den Kiosk zu nutzen und zu unterstützen!
				</p>
				<p class="mt-5">
					<a class="btn btn-primary" href="{% url 'anleitung_page' %}">Mehr Infos</a>
					&nbsp;
					<a class="btn btn-info" href="#">Erste Schritte</a>

					{% if not user.is_authenticated %}
						<br><br>
						<a class="btn btn-primary" href="{% url 'neuerNutzer_page' %}">Konto erstellen</a>
						&nbsp;
						<a class="btn btn-info" href="{% url 'login' %}">Login</a>
					{% endif %}
				</p>
				</div>
			</div>
		</div>
	</div>


	<div class="page-header">
		<h4>Quick-Links</h4>
	</div>

			{% if perms.profil.perm_kauf %}
			<div class="smallPadding">
				Ein Produkt
				<a class="bigLink" href="{% url 'kauf_page' %}">kaufen.</a>
			</div>
			<div class="smallPadding">
				Geld
				<a class="bigLink" href="{% url 'paypal_einzahlung_page' %}">auf mein Konto einzahlen</a>
			</div>
			{% endif %}

			{% if perms.profil.do_einkauf %}
			<div class="smallPadding">
				Eine 
				<a class="bigLink" href="{% url 'einkauf_vormerk_page' %}">Besorgung ank&#252;ndigen.</a>
			</div>
			{% endif %}

			<div class="smallPadding">
				Verwaltung von Kontostand, Einkaufsliste und persönliche Einstellungen im
				<a class="bigLink" href="{% url 'registrationStatus' %}">pers&#246;nlichen Bereich.</a>
			</div>


	<div class="page-header">
		<h4>Anleitungen</h4>
	</div>

	<div id="#anleitung_einzahlung" class="panel panel-default">
			<div class="panel-heading bold smallText">
				Wie kann ich Geld auf mein Kiosk-Konto einzahlen?
			</div>
			<div class="panel-body justified smallText">
				<p>
					Es gibt zwei Möglichkeiten, Geld auf dein Kiosk-Konto einzuzahlen:
					Du kannst <b>vor Ort Bargeld bei eine:r Verwalter:in einzahlen,</b> welches dann auf dein Konto eingebucht wird.
				</p>
				<p class="mt-5">
					Eine andere Möglichkeit ist die Einzahlung per PayPal an
					<a class="bigLink" href="https://paypal.me/ffekiosk">paypal.me/ffekiosk</a>.
					<br>
					Beachte, dass du zuvor deinen PayPal-Namen beim Kiosk registrieren musst:
					<br>
					<b><a href="{% url 'personal_info_change' %}">Persönliche Einstellungen ändern</a></b>
				</p>
			</div>
	</div>


	<div id="anleitung_einkauf" class="panel panel-default">
			<div class="panel-heading bold smallText">
				Wie kaufe ich im Kiosk ein?
			</div>
			<div class="panel-body justified smallText">
				Zum Kaufen, <a class="bigLink" href="{% url 'kauf_page' %}">verbuche online deinen Einkauf</a> und nimm dir die Ware selbst aus dem Kiosk. Deinen Kauf kannst du auch bequem <span class="bigLink">
				<a href="{% url 'start_page' %}#anleitung_slack_kauf">per Slack verbuchen.</a></span> Gib dazu einfach den <i>Slash-Befehl</i>
				<p class="panel panel-default code">
					/kiosk buy
				</p>
				ein. Der Slack-Bot gibt dir dann weitere Hilfestellung.
				<br>
				Sollte ein Produkt nicht mehr verbuchbar sein, obwohl dieses noch im Kiosk vorr&#228;tig ist, kontaktiere bitte eine:n <a class="bigLink" href="{% url 'start_page' %}#administratoren">Administrator:in</a>. Diese:r k&#252;mmert sich um den Abgleich des tats&#228;chlichen Warenvorrats mit den Angaben des Systems.
				</div>
	</div>


	<div id="anleitung_slack_kauf" class="panel panel-default">
			<div class="panel-heading bold smallText">
				Was ist mit der Slack-Integration möglich?
			</div>
			<div class="panel-body justified smallText">
				Neben der Möglichkeit, im Kiosk per Slack einzukaufen
				<p class="panel panel-default code">
					/kiosk buy
				</p>
				ist es auch möglich, folgendes zu tun:
				<ul>
					<li>Kontostand erfragen,</li>
					<li>Waren im Kiosk und Preise ausgeben lassen,</li>
					<li>...</li>
				</ul>
				Der Slack-Bot gibt dir dazu Hilfestellungen, wenn du einfach
				<p class="panel panel-default code">
					/kiosk
				</p>
				eingibst.
			</div>
	</div>


	<div id="anleitung_slack_channels" class="panel panel-default">
			<div class="panel-heading bold smallText">
				Tritt unseren Slack-Channels bei!
			</div>
			<div class="panel-body justified smallText">
				<div class="row">
					<div class="col-xs-3 col-sm-2 col-lg-2 margingPadding justified">
						<img src="{% static 'img/Slack_Mark_Web.png' %}" style="max-height:100px;" />
					</div>
					<div class="col-xs-9 col-sm-10 col-lg-10 margingPadding justified">
						Im FfE-Workspace gibt es zwei Channels, in denen du alle wichtigen Informationen zum Kiosk bekommst:
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-lg-6 margingPadding justified">
							<h4>#kiosk</h4>
							Generelle Informationen zu Neuerungen und besonderen Angeboten, wichtige Mitteilungen und Weiteres werden hier kommuniziert.
					</div>
					<div class="col-xs-12 col-sm-6 col-lg-6 margingPadding justified">
							<h4>#kiosk_bot</h4>
								Der Kiosk-Slackbot informiert über frisch angelieferte Produkte im Kiosk und neue Produkte in der offenen Einkaufsliste. Außerdem werden die fleißigsten Einkäufer und Verwalter wöchentlich gekürt.
						</div>
				</div>
			</div>
		</div>


	{% if user.is_authenticated and perms.profil.perm_kauf %}
		<div class="page-header">
			<h4>Weitere Informationen</h4>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading bold smallText">
				Verantwortliche Personen
			</div>
			<div class="panel-body justified smallText">
				<h5 id="#verwalter">Verwalter:innen:</h5>
				<b>{{accountants}}</b>
				<br>
				<i>Zust&#228;ndig f&#252;r Einzahlungen/Auszahlungen, R&#252;ckbuchungen von Eink&#228;ufen und Annahme von Eink&#228;ufen</i>

				<br><br>

				<h5 id="#administratoren">Administrator:innen:</h5>
				<b>{{admins}}</b>
				<br>
				<i>Zust&#228;ndig f&#252;r Account-Verwaltung, technische Probleme, Verbesserungsvorschl&#228;ge, ...</i>
			</div>
		</div>


		<div class="panel panel-default">
			<div class="panel-heading bold smallText">
				Verdiente Personen
			</div>
			<div class="panel-body justified smallText">
				<b>Eink&#228;ufer:in der Woche: </b>{{bestBuyers}}
				<br>
				<b>Verwalter:in der Woche: </b>{{bestVerwalter}}
				<br>
				Dankesch&#246;n daf&#252;r!!!
			</div>
		</div>
		
	{% endif %}

{% endblock %}
