{% extends 'kiosk/base.html' %}	

{% block content %}

	<h4>Herzlich Willkommen im FfE-Kiosk!</h4>
	<br>
	<div class="eingerueckt">
		<div style="background-color:#f7f8f9;padding-top:10px;border: 1px solid #eeeeee;">
			&nbsp;&nbsp;&nbsp;<b>News (07. Feb. 2018):</b><br>
			<p style="padding-left:30px; padding-right:30px; padding-top:10px; font-size:110%; text-align:justify;">
				Die Abstimmung zur Verwendung erwirtschafteter Profite im Kiosk zum Ende des Jahres ist nun zu Ende. Mit großer Mehrheit wurde dem Vorschlag zugestimmt, j&#228;hrlich zum Stichtag "15. Dezember" eventuelle Profite des Kioskbetriebs an die Hilfsorganisation von Pater Gerhard, das Blessed G&#233;rard's Care Zentrum in Mandeni, zu spenden. Vielen Dank für die rege Teilnahme an der Abstimmung!<br>
				Mit eurem Einkauf im Kiosk unterst&#252;tzt ihr nun die Arbeit von Pater Gerhard in S&#252;dafrika (<a href="http://www.bsg.org.za/startseite.html">Website</a>). Seien wir gespannt, wie viel Geld wir zum Ende des Jahres spenden k&#246;nnen!
			</p>
		</div>
		<br>

		<div>
			<b>Bereits registriert? Hier geht es zum pers&#246;nlichen Bereich:</b><br>
			<p style="padding-left: 30px;padding-top:10px;font-size: 110%;">
				<b><a href="{% url 'home_page' %}">zum pers&#246;nlichen Bereich</a></b>
			</p>
		</div><br>

		<div>
			<b>Ich m&#246;chte beitreten!</b><br>
			<p style="padding-left: 30px;padding-top:10px;font-size: 110%;">
				<b><a href="{% url 'neuerNutzer_page' %}">Konto erstellen</a><br></b>
			</p>
		</div><br>

		<div>
			<b>Wie genau funktioniert das? Was muss ich wissen?</b><br>
			<p style="padding-left: 30px;padding-top:10px;font-size: 110%;">
				<b><a href="{% url 'anleitung_page' %}">Anleitung & Kleingedrucktes</a><br></b>
			</p>
		</div><br>

		<div>
			<b>Ich m&#246;chte Eink&#228;ufer oder Verwalter werden!</b><br>
			Melde dich dazu bei einem Administrator oder Verwalter.
		</div><br>

		<div>
			<b>Ich habe Vorschl&#228;ge zu den Produkten oder sonstige Anmerkungen!</b><br>
			Beteilige dich an den Kommentaren im <a href="{% url 'produkt_kommentare_page' %}">Pers&#246;nlichen Bereich --> Produkte kommentieren</a> oder 
			melde dich bei einem Administrator oder Verwalter.
		</div>

		<br>
		<hr>
		
		{% if perms.profil.do_einkauf %}
		<b>Administrator: </b>
		
			{{ admins }}
			<br>
			<b>Verwalter: </b>{{ accountants }}
			<br>

			<br>
			<hr>
			<small>
				<b>Eink&#228;ufer des Monats: </b>{{bestBuyers}}
				<br>
				<b>Verwalter des Monats: </b>{{bestVerwalter}}
				<br>
				Dankesch&#246;n daf&#252;r!!!
			</small>

			<br>
			<hr>
			<div style="min-width: 300px;max-width: 500px;">
				{{ chart_DaylyVkValue.as_html }}
			</div>
		{% endif %}


	</div>

{% endblock %}
