{% extends 'kiosk/base.html' %}	

{% load widget_tweaks %}

{% block content %}
	
	<div class="page-header noMarginTop">
		<h4>&#220;berweisungen</h4>
	</div>


	<div class="panel panel-default">
		<div class="panel-heading bold">
			Info
		</div>
		<div class="panel-body justified smallText">
			Wähle eine(n) Einkäufer(in) aus und es erscheint eine Eingabemaske zur Verbuchung einer Ein- oder Auszahlung.<br>
			Klicke dazu den entsprechenden Modus in der Eingabemaske an. Ein Kommentar ist nicht nötig und kann leer gelassen werden. Mit einem Klick auf "Transaktion tätigen" wird die Eingabe verbucht.
			<br>
			<b>Tipp: </b>Für Auszahlungen ist manchmal ein Klick auf "Kontostand einblenden" hilfreich.
		</div>
	</div>


	{% if errorMsg != '' and errorMsg != None %}
		<p class="alert alert-danger">
			{{errorMsg}}
		</p>
	{% endif %}

	{% if successMsg != '' and successMsg != None %}
		<p class="alert alert-success">
			{{successMsg}}
		</p>
	{% endif %}


	<div class="dropdown">

		<button class="btn btn-primary dropdown-toggle inline" type="button" id="dropdownHead" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Eine(n) Geldgeber(in) ausw&#228;hlen
			<span class="caret"></span>
		</button>
		&nbsp;&nbsp;
		<div id="userFromAtButton" class="inline bold"></div>
		
		<ul class="dropdown-menu ulTopMenuWidth" aria-labelledby="dropdownHead">
			{% for item in allUsers %}
				<li><a onclick="goOnWithUserFrom({{item.id}},'{{item.username}}')">
						{{item.username}} ({{item.first_name}} {{item.last_name}})
					</a></li>
			{% endfor %}
		</ul>
	</div>	


	<div id="divEmpfaenger" style="display: none;" class="panel panel-default">
		<br>

		<div class="dropdown indented">
			<button class="btn btn-primary dropdown-toggle inline" type="button" id="dropdownHeadTo" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Eine(n) Geldempfänger(in) ausw&#228;hlen
				<span class="caret"></span>
			</button>
			&nbsp;&nbsp;
			<div id="userToAtButton" class="inline bold"></div>
			
			<ul class="dropdown-menu ulTopMenuWidth" aria-labelledby="dropdownHeadTo">
				{% for item in allUsers %}
					<li><a onclick="goOnWithUserTo({{item.id}},'{{item.username}}')">
							{{item.username}} ({{item.first_name}} {{item.last_name}})
						</a></li>
				{% endfor %}
			</ul>
		</div>	

	
		<div class="indented">
		<div id="divEingabeform" style="display: none;" class="panel panel-default">

			<br>

			<form method="POST" class="">
				{% csrf_token %}

				<div class="indented">
					<b>Geldgeber(in):</b>
					<div class="inline" id="userFrom"></div>
					<br>
					<b>Geldempfänger(in): </b>
					<div class="inline" id="userTo"></div>
					<br><br>
				</div>

				
				{% render_field form.idFrom style+="display: none;" %}
				{% render_field form.idTo style+="display: none;" %}

				<div class="form-group indented">
	                {{ form.betrag.label_tag }}
	                {{ form.betrag | attr:"class:form-control" | attr:"placeholder:x,yz €" }}
	                <br>
	                {% if form.betrag.errors %}
	                    <p class="alert alert-danger">{{ form.betrag.errors.as_text }}</p>
	                {% endif %}
	                {% if form.betrag.help_text %}
	                    <p class="alert alert-info">{{ form.betrag.help_text|safe }}</p>
	                {% endif %}
	            </div>

	            <div class="form-group indented">
	                {{ form.kommentar.label_tag }}
	                {{ form.kommentar | attr:"class:form-control" | attr:"rows:5"}}
	                <br>
	                {% if form.kommentar.errors %}
	                    <p class="alert alert-danger">{{ form.kommentar.errors.as_text }}</p>
	                {% endif %}
	                {% if form.kommentar.help_text %}
	                    <p class="alert alert-info">{{ form.kommentar.help_text|safe }}</p>
	                {% endif %}
	            </div>

	            <div class="indented">
					<button type="submit" class="btn btn-primary ">&#220;berweisung t&#228;tigen</button>
				</div>
			</form>	

		</div>
		</div>

	<br>

	</div>

	<br>
	<hr>
	<a class="bigLink" href="{% url 'home_page' %}">zur&#252;ck zum persönlichen Bereich</a><br>


{% endblock %}

{% block javascript %}

	<script type="text/javascript">

		function goOnWithUserFrom(userID,username) {
			$("div#divEmpfaenger").show(400);
			$('input[name="idFrom"]').val(userID);
			$("div#userFrom").html(username);
			$("div#userFromAtButton").html(username);
		}

		function goOnWithUserTo(userID,username){
		    $("div#divEingabeform").show(400);
		    $('input[name="idTo"]').val(userID);
			$("div#userTo").html(username);
			$("div#userToAtButton").html(username);
		}

	</script>	

{% endblock %}