/* -------------------------------------- */
/* Overwrite and complement Bootstrap */

a {
    cursor: pointer;
}

table {
    table-layout: fixed;
}

.table td.fit,
.table th.fit {
    width: 50px;
}

table.autoSize {
    table-layout: auto;
}

.container-fluid {
    padding: 0;
    margin: 0;
}

.list-group-item.disabled:hover {
    cursor: context-menu;
}



/* -------------------------------------- */
/* Divs and fundamental style */
/* 
    @screen-xs = 480px
    @screen-sm = 768px
    @screen-lg = 1200px
*/


/*@media (max-width: @screen-xs-max) { ... } */
/*@media (max-width: 479px) { ... } */
    .divTopHeading {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        max-width: 100%;
        height: 70px;
        text-align: center;
        vertical-align: top;
        padding-bottom: 7px;
        color: #428bca;
        margin: 0;
    }

    .divTopMenu {
        display: inline-block;
        position: sticky;
        top: 22px;
        left:80vw;
        margin: 0;
        z-index: 99;
    }

    .divTopMenuBigScreen {
        display: none;
    }

    .divMain {
        position: relative;
        top:70px;
        padding-left: 3vw;
        padding-right: 3vw;
    }

    .divRightSide {
        display: none;
    }
/*}*/

/*@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {*/
@media (min-width: 768px) {

    .divTopHeading {
        left:25vw;
        width: 73vw;
    }

    .divMain {
        left: 25vw; 
        width: 73vw;   
    }

    .divTopMenu {
        display: none;
    }

    .divTopMenuBigScreen {
        display: inline-block;
        position: absolute;
        top: 125px;
        left: 0;
        padding-left: 2vw;
        width: 25vw;
        margin: 0;
    }

}


/*@media (min-width: @screen-lg-min) { .divTopHeading {*/
@media (min-width: 1200px) {

    .divTopHeading {
        left: 20vw;
        width: 60vw;
    }

    .divMain {
        left: 20vw;
        width: 60vw;
    }

    .divRightSide {
        display: inline-block;
        position: absolute;
        top: 125px;
        left: 80vw;
        padding-right: 2vw;
        margin: 0;
    }

    .divTopMenuBigScreen {
        width: 20vw;
    }
}


/* Not dependent on screen-size */
.aTopHeading {
    color: #428bca;
    text-decoration: none;
}
.aTopHeading:hover {
    color: #428bca;
    text-decoration: none;
}

.ulTopMenuWidth {
    min-width: 50vw;
}



/* -------------------------------------- */
/* Class Styles */

.bold{
    font-weight: bold;
}

.noMarginTop {
    margin-top: 0;
}

.smallText {
    font-size: 85%;
}

.justified {
    text-align: justify;
}

.bigLink {
    font-weight: bold;
    font-size: 115%;
}

.code {
    padding: 5px;
    padding-left: 5vw;
    font-family: "Courier New";
    color: green;
}

.indented {
    padding-left: 5vw;
}

.inline {
    display: inline;
}

.bigCaret {
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid;
}

.bigCaretUp {
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid;
}

.cutTextOff {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.padding {
    padding: 2vw;
}
.marginPadding {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sideMenu {
    background-color: #f8f8f8;
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    padding: 1vw;
}

.grey {
    color: #999999;
}