{% extends 'kiosk/base.html' %}	

{% block content %}

    <h4>Login</h4>
    <br>

    <div class="eingerueckt">
	
    	{% if form.errors %}
            <p class="errorColums">Dein Benutzername und Passwort stimmen nicht &#252;berein. Versuche es noch einmal.</p>
        {% endif %}

        <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
            <table style="width: 70%;border-spacing: 10px;text-align: left;">
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
            </table>

            <input type="submit" class="btn" value="Login" />
            <input type="hidden" name="next" value="{{ next }}" />
        </form>

        <!--<p>Ich habe mein Passwort vergessen. <a href="{% url 'password_reset' %}">Zuruecksetzen.</a></p>-->
        <p>Ich besitze noch kein Konto. <a href="{% url 'neuerNutzer_page' %}">Registrieren.</a></p>

    </div>

    <hr>
    <a href="{% url 'start_page' %}">zur&#252;ck</a><br>

{% endblock %}
