{% extends 'kiosk/base.html' %}	

{% block content %}

    <h4>Passwort zur&#252;cksetzen</h4>
    <br>

    <div class="eingerueckt">

    	<p>Hast du dein Passwort vergessen? Gib deinen Slack-Namen(ohne @) unten ein und wir senden dir Anweisungen zum Erzeugen eines neuen Passworts zu.</p>

    	<br>

    	<form method="post">
        {% csrf_token %}
            <table style="border-spacing: 10px;text-align: left;">

            {% for field in form %}
                <tr>
                    <th style="padding:3px;">{{ field.label_tag }}</th>
                    <td style="padding:3px;">{{ field }}</td>
                    <td style="padding:3px; max-width: 250px;" class="errorColums">{% if field.errors %} {{ field.errors }} {% endif %}</td>
                    <td style="padding:3px; max-width: 350px;">{% if field.help_text %}
                        <p>{{ field.help_text|safe }}</p>
                    {% endif %}</td>
                </tr>
            {% endfor %}

            </table>
            <br>
            <input type="submit" class="btn" value="Zur&#252;cksetzen meines Passworts" />   
        </form>
    </div>

    <hr>
    <a href="{% url 'start_page' %}">zur&#252;ck</a><br>

{% endblock %}
