{% extends 'kiosk/base.html' %}	

{% block content %}

    <h4>Enter new password</h4>
    <br>

    <div class="eingerueckt">

    {% if validlink %}

        Please enter your new password twice so we can verify you typed it in correctly.

        <form method="post">
        {% csrf_token %}
            <table style="border-spacing: 10px;text-align: left;">

            {% for field in form %}
                <tr>
                    <th>{{ field.label_tag }}</th>
                    <td>{{ field }}</td>
                    <td>{% if field.errors %} {{ field.errors }} {% endif %}</td>
                    <td>{% if field.help_text %}
                        <p>{{ field.help_text|safe }}</p>
                    {% endif %}</td>
                </tr>
            {% endfor %}

            </table>

            <input type="submit" class="btn" value="Change my password" />   
        </form>

    {% else %}

        <p> The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>

    {% endif %}

    </div>

    <hr>
    <a href="{% url 'start_page' %}">back</a><br>

{% endblock %}
