{% extends 'kiosk/base.html' %}

{% load widget_tweaks %}	

{% block content %}

    <div class="page-header noMarginTop">
        <h4>Passwort zur&#252;cksetzen</h4>
    </div>

    <p class="alert alert-info">
        Hast du dein Passwort vergessen? Gib deinen Slack-Anzeige-Namen (display name, ohne @) oder deine Slack Mitglieds-ID (member ID)
        unten ein und wir senden dir Anweisungen zum Erzeugen eines neuen Passworts per Slack zu.
        <br>
        Den display name und die member ID findest du auf Slack, indem du auf deinen Namen klickst und danach auf den
        Button mit den drei Punkten für das erweiterte Menü.
    </p>

    <form method="post">
        {% csrf_token %}

        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field | add_class:"form-control" }}
                <br>
                {% if field.errors %}
                    <p class="alert alert-danger">{{ field.errors.as_text }}</p>
                {% endif %}
                {% if field.help_text %}
                    <p class="alert alert-info">{{ field.help_text|safe }}</p>
                {% endif %}
            </div>
        {% endfor %}
        
        <input type="submit" class="btn btn-primary" value="Zur&#252;cksetzen meines Passworts" />  
    </form>

    <hr>
    <a class="bigLink" onclick="javascript:history.go(-1);">zur&#252;ck</a><br>

{% endblock %}
