{% extends 'kiosk/base.html' %}	

{% load widget_tweaks %}

{% block content %}

    <div class="page-header noMarginTop">
        <h4>&#196;nderung des Passworts</h4>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading bold">
            Info
        </div>
        <div class="panel-body justified smallText">
            Hier kannst du dir ein neues Passwort vergeben. Gib dazu zun&#228;chst dein aktuelles Passwort ein und dann zweimal dein neues Passwort.<br />
            Du kennst dein aktuelles Passwort nicht? Dann setze es einfach unter <a href="{% url 'password_reset' %}">Passwort zur&#252;cksetzen</a> zur&#252;ck.
        </div>  
    </div>


     <form method="post" action="{% url 'password_change' %}">
        {% csrf_token %}

        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field | add_class:"form-control" }}
                <br>
                {% if field.errors %}
                    <p class="alert alert-danger">{{ field.errors.as_text }}</p>
                {% endif %}
                {% if field.help_text %}
                    <div class="alert alert-info">{{ field.help_text|safe }}</div>
                {% endif %}
            </div>
        {% endfor %}
        
        <input type="submit" class="btn btn-primary" value="Passwort &#228;ndern" />  
    </form>


    <hr>
    <a class="bigLink" href="{% url 'home_page' %}">zur&#252;ck zum pers&#246;nlichen Bereich</a><br>

{% endblock %}
