{% extends 'kiosk/base.html' %}	

{% block content %}

    <h4>Eine Passwort-R&#252;setzungs-Anfrage wurde versendet</h4>
    <br>

    <div class="eingerueckt">
    	Wir haben dir per E-Mail Anweisungen gesendet, um dein neues Passwort zu vergeben, falls ein Konto mit deiner angegebenen E-Mail-Adresse vorhanden ist. Du solltest die E-Mail sehr bald erhalten.<br>
    	Falls du keine E-Mail bekommst, vergewissere dich bitte, dass du die richtige Adresse eingegeben hast und &#252;berpr&#252;fe bitte deinen Spam-Ordner.<br>
    	<br>
    	<b></b>
    </div>

    <hr>
    <a href="{% url 'start_page' %}">zur&#252;ck</a><br>

{% endblock %}
