{% extends 'kiosk/base.html' %}	

{% block content %}

    <h4>Eingabe des neuen Passworts</h4>
    <br>

    <div class="eingerueckt">

    {% if validlink %}

        Bitte gib dein neues Passwort zweimal ein, so dass wir &#252;berpr&#252;fen k&#246;nnen, ob du es korrekt eingegeben hast.

        <form method="post">
        {% csrf_token %}
            <table style="border-spacing: 10px;text-align: left;">

            {% for field in form %}
                <tr>
                    <th style="padding:3px;">{{ field.label_tag }}</th>
                    <td style="padding:3px;">{{ field }}</td>
                    <td style="padding:3px; max-width: 250px;" class="errorColums">{% if field.errors %} {{ field.errors }} {% endif %}</td>
                    <td style="padding:3px; max-width: 350px;">{% if field.help_text %}
                        <p>{{ field.help_text|safe }}</p>
                    {% endif %}</td>
                </tr>
            {% endfor %}

            </table>

            <input type="submit" class="btn" value="Change my password" />   
        </form>

    {% else %}

        <p>Der Link zur Passwort-R&#252;cksetzung ist ung&#252;ltig, wahrscheinlich weil er bereits benutzt wurde. Bitte fordere eine neue Passowrt-R&#252;cksetzung an.</p>

    {% endif %}

    </div>

    <hr>
    <a href="{% url 'start_page' %}">zur&#252;ck</a><br>

{% endblock %}
