{% extends 'kiosk/base.html' %}	

{% block content %}

    <h4>Passwort&#228;nderung</h4>
    <br>

    <div class="eingerueckt">

        <form method="post" action="{% url 'password_change' %}">
        {% csrf_token %}
            <table style="border-spacing: 10px;text-align: left;">

            {% for field in form %}
                <tr>
                    <th style="padding:3px;">{{ field.label_tag }}</th>
                    <td style="padding:3px;">{{ field }}</td>
                    <td style="padding:3px; max-width: 250px;" class="errorColums">{% if field.errors %} {{ field.errors }} {% endif %}</td>
                    <td style="padding:3px; max-width: 350px;">{% if field.help_text %}
                        <p>{{ field.help_text|safe }}</p>
                    {% endif %}</td>
                </tr>
            {% endfor %}

            </table>

            <input type="submit" class="btn" value="Passwort &#228;ndern" />   
        </form>
    </div>

    <hr>
    <a href="{% url 'start_page' %}">zur&#252;ck</a><br>

{% endblock %}
