{% extends 'kiosk/base.html' %}

{% load widget_tweaks %}	

{% block content %}
    
    <div class="page-header noMarginTop">
        <h4>Passwort zur&#252;cksetzen <small>Eingabe des neuen Passworts</small></h4>
    </div>
    

    {% if validlink %}

        <div class="panel panel-body justified">
            Bitte gib dein neues Passwort zweimal ein, so dass wir &#252;berpr&#252;fen k&#246;nnen, ob du es korrekt eingegeben hast.
        </div>


        <form method="post">
            {% csrf_token %}

            {% for field in form %}
                <div class="form-group">
                {{ field.label_tag }}
                {{ field | add_class:"form-control" }}
                <br>
                {% if field.errors %}
                    <p class="alert alert-danger">{{ field.errors.as_text }}</p>
                {% endif %}
                {% if field.help_text %}
                    <p class="alert alert-info">{{ field.help_text|safe }}</p>
                {% endif %}
            </div>
            {% endfor %}
            
            <input type="submit" class="btn btn-primary" value="Passwort ändern" />  
        </form>

    {% else %}

        <p class="alert alert-danger">
            Der Link zur Passwort-R&#252;cksetzung ist ung&#252;ltig, wahrscheinlich weil er bereits benutzt wurde. Bitte fordere eine neue <a href="{% url 'password_reset' %}">Passwort-R&#252;cksetzung</a> an.
        </p>

    {% endif %}



{% endblock %}
