{% extends 'kiosk/base.html' %}	

{% block content %}

    <div class="page-header noMarginTop">
        <h4>Eine Passwort-R&#252;setzungs-Anfrage wurde versendet</h4>
    </div>


    <div class="justified">
    	Wir haben dir per Slack-Nachricht Anweisungen gesendet, um dein neues Passwort zu vergeben, falls ein Konto mit deinem angegebenen Slack-Namen vorhanden ist. Du solltest die Slack-Nachricht sehr bald erhalten.<br>
    	Falls du keine Nachricht bekommst, wende dich bitte an einen Administrator.<br>
        Dein FfE-Kiosk Team
    </div>


{% endblock %}
