{% extends 'kiosk/base.html' %}	

{% block content %}

	<div class="page-header noMarginTop">
        <h4>Anlegen eines Benutzerkontos <small>Registrierungsstatus</small></h4>
    </div>

    <div class="justified">

    	{% if not user.is_verified %}
    		Dir wurde eine Slack-Nachricht in der FfE-Gruppe zugesendet, um deinen angegebenen Nutzernamen zu verifizieren.
    		Bitte klicke in der Slack-Nachricht auf den mitgelieferten Link, um deinen Usernamen zu verifizieren.<br>
    		Falls du keine Nachricht erhalten hast, melde dich bitte bei einem der Administratoren ({{ admins }}).

	    {% else %}
	    	
	    	{% if just_verified %}

	    		<p class="alert alert-success">Deine Verifikation hat geklappt. Nun bist du ein FfE-Kiosk Mitglied!</p>
	    		
	    		<ul>
			    	<li>Du hast eine Slack-Nachricht mit allen wichtigen Informationen zugesendet bekommen.</li>
		    		<li>Hier gehts zu deinem <a href="{% url 'home_page' %}">pers&#246;nlichen Bereich.</a></li>
		    		<li>Hier erf&#228;hrst du alles Wichtige, wie du den Kiosk nutzen kannst: <a href="{% url 'anleitung_page' %}">Info & Erste Schritte</a>.</li>
	    		</ul>
	    	{% endif %}
	    	
	    {% endif %}
        
    </div>



{% endblock %}
