{% extends 'kiosk/base.html' %}	
{% block content %}

	<div class="page-header noMarginTop">
        <h4>Anlegen eines Benutzerkontos <small>Gescheiterte Slack-Verifikation</small></h4>
    </div>

    
    <p class="alert alert-danger">
    	Der benutzte Link zur Verifikation war ungültig, wahrscheinlich, weil er schon benutzt wurde.
    	<br>
    	Versuche, dich mal einzuloggen.
    	<br>
    	Falls du weiterhin Probleme hast, melde dich bei einem der Administratoren ({{admins}}).
    </p>
	    
    <hr>
    <a class="bigLink" href="{% url 'login' %}">zum Login</a><br>

{% endblock %}